<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Course Details</li>
      <li class="active">Student Assignments</li>
   </ol>
   <h1>Student Assignments</h1>
   <div class="options">
      <div class="btn-toolbar">
         <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
            Export as <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
      </div>
   </div>
</div>
<div ng-controller="assignmentsList" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Assignments List">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div id="alert" class="alert alert-danger hide">
               <strong>Error</strong> Unable to save information.<br><br>
               <ul>
                  <li id="error"></li>
               </ul>
            </div>
            <div class="form-horizontal">
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Choose Module</label>
                  <div class="col-md-6">
                     <select name="module_id" class="form-control" id="module" ng-model="credentials.module_id" ng-change="loadAssignments()" required>
                        <optgroup label="Choose module">
                           <option ng:repeat="item in modules" value="{{item.id}}">{{ item.code }} {{ item.name }}</option>
                        </optgroup>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label ng-hide="isValid(credentials.assignments)" for="fieldname" class="col-md-3 control-label ng-hide">Results</label>
                  <div class="col-md-6">
                     <p ng-hide="isValid(credentials.assignments)" class="text ng-hide">
                        Not Available.
                     </p>
                  </div>
               </div>
            </div>
            <div ng-show="data.selected && isValid(credentials.assignments)" class="fadein fadeout table-responsive margin-top">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:30px">Module Code</th>
                        <th>Module Title</th>
                        <th>Student Name</th>
                        <th>Day of Submission</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key, value) in credentials.assignments" >
                        <td align="left"><i>{{value.code}}</i></td>
                        <td align="left"><i>{{value.module}}</i></td>
                        <td align="left"><i>{{value.student}}</i></td>
                        <td align="left"><i>{{value.created_at | asDate}}</i></td>
                        <td>
                           <a class="ng-binding btn btn-success btn-sm" target="_self" href="/files/assignments/{{value.student_id}}/{{value.file}}" download="{{value.name}}">Download</a>
                           <a ng-click="destroy(key, value.id)" class="btn btn-brown btn-sm">Delete</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>
</div>
<!-- container-fluid -->