<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Tasks</li>
        <li class="active">Create a task</li>
    </ol>

    <h1>Create a task</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="createTask" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         <panel panel-class="panel-sky" heading="Create task form">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

                <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to create a task.<br><br>
                  <ul>
                      <li id="error"></li>
                  </ul>
                </div>

              	<form ng-submit="submit(credentials)" ng-controller="createTask" class="form-horizontal">

          		 	<div class="form-group">
	                <label for="fieldname" class="col-md-3 control-label">Title</label>
		                <div class="col-md-6">
		                    
        	                <input id="fieldname" class="form-control" name="title" ng-model="credentials.title" minlength="4" type="text" required>
		                </div>
	            	</div>

	            	<div class="form-group">
	                <label for="fieldname" class="col-md-3 control-label">Description</label>
		                <div class="col-md-6">
		                    
        	               <textarea name="description" ng-model="credentials.description" id="description" class="form-control autosize ng-pristine ng-valid ng-touched" rows="2"></textarea>
		                </div>
	            	</div>


          		 	<div class="form-group">
	                <label for="fieldname" class="col-md-3 control-label">User Group</label>
		                <div class="col-md-6">
		                    
			               <select name="user_group" class="form-control" id="module" ng-model="credentials.group_id" required>

		                      <optgroup label="Choose user group">
		                          <option ng:repeat="item in credentials.usergroups" value="{{item.id}}">{{item.name}}</option>
		                      </optgroup>
		                  </select>
		                
		                </div>
	            	</div>

	            	<div class="form-group">
						<label for="#" class="col-md-3 control-label">Select Duedate</label>
						<div class="col-md-6">
							<datepicker ng-model="credentials.date" min-date="minDate" show-weeks="true" class="datepicker" required></datepicker>
						</div>
					</div>

    				<div class="form-group">
					<label class="col-sm-3 control-label">File</label>
						<div class="col-sm-6">
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<span class="btn btn-default btn-file" style="background: #e6e9ee">
									<span class="fileinput-new">Select a file</span>
									<span class="fileinput-exists">Change</span>
									<input fileread="credentials.file" type="file" name="file">
								</span>

								<span id="filename" class="fileinput-filename"></span>
								<a href="#"  class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
							</div>
						</div>
					</div>

		            <div class="form-group">
		              <div class="col-md-6 col-md-offset-3">
		                <button type="submit" class="btn btn-primary">
		                  Create Task
		                </button>
		              </div>
		            </div>


              	</form>

    	</panel>
        </div>
    </div>
</div>