<div ng-controller="editExamination">
   <div id="page-heading">
      <ol class="breadcrumb">
         <li><a href="#/">Dashboard</a></li>
         <li>Tests & Examination</li>
         <li class="active">Edit Examination</li>
      </ol>
      <h1>Edit Examination - {{exam.name}}</h1>
      <div class="options">
         <div class="btn-toolbar">
            <div class="btn-group" dropdown>
               <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
               Additional <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Multiple Choice form" ng-controller="multipleChoiceController" ng-show="isMultiple" class="ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
               </panel-controls>
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to save the module data.<br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <form ng-submit="submit(credentials)" ng-controller="multipleChoiceController" class="form-horizontal row-border">
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Question</label>
                     <div class="col-md-6">
                        <textarea name="description" id="fieldabout" class="form-control autosize" rows="2" ng-model="credentials.question"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #1</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_1"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #2</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_2"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #3</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_3"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #4</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_4"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Correct Answer</label>
                     <div class="col-md-6">
                        <select name="correct_answer" class="form-control" ng-model="credentials.correct_answer" required>
                           <optgroup label="Select correct answer">
                              <option value="1">Option #1</option>
                              <option value="2">Option #2</option>
                              <option value="3">Option #3</option>
                              <option value="4">Option #4</option>
                           </optgroup>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Mark</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="number"
                           placeholder="Numbers only"
                           required
                           ng-model="credentials.mark"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label"></label>
                     <div class="col-md-6">
                        <input type="submit" class="finish btn-success btn" value="Add Question" />
                        <a href="/#/view-examinations" class="finish btn-info btn">Back to list</a>
                     </div>
                  </div>
               </form>
               <panel panel-class="panel-sky" heading="Questions">
                  <panel-controls>
                  </panel-controls>
                  <div ng-controller="editExamination">
                     <p ng-hide="isValid(shared.mydata)" class="ng-hide">Not Available.</p>
                     <div class="table-responsive" ng-show="isValid(shared.mydata)">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th style="padding-right:100px">Question</th>
                                 <th>Option #1</th>
                                 <th>Option #2</th>
                                 <th>Option #3</th>
                                 <th>Option #4</th>
                                 <th>Correct Answer</th>
                                 <th>Mark</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng:repeat="q in shared.mydata">
                                 <td align="left"><i>{{q.question}}</i></td>
                                 <td align="left"><i>{{q.option_1}}</i></td>
                                 <td align="left"><i>{{q.option_2}}</i></td>
                                 <td align="left"><i>{{q.option_3}}</i></td>
                                 <td align="left"><i>{{q.option_4}}</i></td>
                                 <td align="left"><i>{{q.correct_answer}}</i></td>
                                 <td align="left"><i>{{q.mark}}</i></td>
                                 <td>
                                    <a href="/#" class="btn btn-sky btn-sm">Edit</a>
                                    <a class="btn btn-brown btn-sm">Delete</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </panel>
            </panel>
            <panel panel-class="panel-sky" heading="Essay form" ng-controller="essayController" ng-show="isEssay" class="ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
               </panel-controls>
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to save the module data.<br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <form ng-submit="submit(credentials)" ng-controller="essayController" class="form-horizontal row-border">
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Question</label>
                     <div class="col-md-6">
                        <textarea name="description" id="fieldabout" class="form-control autosize" rows="2" ng-model="credentials.question"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Mark</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="number"
                           placeholder="Numbers only"
                           required
                           ng-model="credentials.mark"
                           class="form-control">
                     </div>
                  </div> 
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label"></label>
                     <div class="col-md-6">
                        <input type="submit" class="finish btn-success btn" value="Add Question" />
                        <a href="/#/view-examinations" class="finish btn-info btn">Back to list</a>
                     </div>
                  </div>
               </form>
               <panel panel-class="panel-sky" heading="Questions">
                  <panel-controls>
                  </panel-controls>
                  <div ng-controller="editExamination">
                     <p ng-hide="isValid(shared.mydata)" class="ng-hide">Not Available.</p>
                     <div class="table-responsive" ng-show="isValid(shared.mydata)">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th style="padding-right:100px">Question</th>
                                 <th>Mark</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng:repeat="q in shared.mydata">
                                 <td align="left"><i>{{q.question}}</i></td>
                                 <td align="left"><i>{{q.mark}}</i></td>
                                 <td>
                                    <!-- <a href="/#" class="btn btn-sky btn-sm">Edit</a> -->
                                    <a class="btn btn-brown btn-sm" ng-click="delete(q.question)">Delete</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>

                        <script type="text/ng-template" id="myModalContent.html">
                           <div class="modal-header">
                               <h3 class="modal-title">Confirmation</h3>
                           </div>
                           <div class="modal-body">
                               Are you sure you want to delete this question?
                           </div>
                           <div class="modal-footer">
                               <button class="btn btn-brown" ng-click="ok()">Delete</button>
                               <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                           </div>

                        </script>
                  </div>
               </panel>
            </panel>
            <panel panel-class="panel-sky" heading="Fill Answers form" ng-controller="fillAnswerController" ng-show="isFillup" class="ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
               </panel-controls>
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to save the module data.<br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to save the module data.<br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <form ng-submit="submit(credentials)" ng-controller="fillAnswerController" class="form-horizontal row-border">
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Question</label>
                     <div class="col-md-6">
                        <textarea name="description" id="fieldabout" class="form-control autosize" rows="2" ng-model="credentials.question"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Mark</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="number"
                           placeholder="Numbers only"
                           required
                           ng-model="credentials.mark"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label"></label>
                     <div class="col-md-6">
                        <input type="submit" class="finish btn-success btn" value="Add Question" />
                        <a href="/#/view-examinations" class="finish btn-info btn">Back to list</a>
                     </div>
                  </div>
               </form>
               <panel panel-class="panel-sky" heading="Questions">
                  <panel-controls>
                  </panel-controls>
                  <div ng-controller="editExamination">
                     <p ng-hide="isValid(shared.mydata)" class="ng-hide">Not Available.</p>
                     <div class="table-responsive" ng-show="isValid(shared.mydata)">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th style="padding-right:100px">Question</th>
                                 <th>Mark</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng:repeat="q in shared.mydata">
                                 <td align="left"><i>{{q.question}}</i></td>
                                 <td align="left"><i>{{q.mark}}</i></td>
                                 <td>
                                    <a href="/#" class="btn btn-sky btn-sm">Edit</a>
                                    <a class="btn btn-brown btn-sm">Delete</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </panel>
            </panel>
         </div>
      </div>
   </div>
</div>