<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Modules</li>
        <li class="active">My Modules</li>
    </ol>

    <h1>My Modules</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Additional <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>

<div ng-controller="lecturerModules" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         <panel panel-class="panel-sky" heading="Modules list">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

                <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to fetch students information.<br><br>
                  <ul>
                      <li id="error"></li>
                  </ul>
                </div>

                <p ng-hide="isValid(modules)" class="ng-hide">Not Available.</p>
                <div ng-show="isValid(modules)" class="table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:50px">Module Code</th>
                                <th>Module Title</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in modules">

                                <td align="left"><i>{{s.code}}</i></td>
                                <td align="left"><i>{{s.name}}</i></td>
                                <td align="left"><i>{{s.description}}</i></td>

                               <td>
                                    <a href="/#/view-materials/{{s.id}}" class="btn btn-success btn-sm">Module Materials</a>
                                    <a href="/#/upload-materials/{{s.id}}" class="btn btn-green btn-sm">Upload Materials</a>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

        	</panel>
        </div>
    </div>
</div>