<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Course Details</li>
        <li class="active">Consultation Hours</li>
    </ol>

    <h1>Consultation Hours</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="lecturerConsultations" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         	<panel panel-class="panel-sky" heading="Consultation Hours Form">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

               	<div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to save the module data.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>

             	<form ng-submit="submit(credentials)" ng-controller="lecturerConsultations" class="form-horizontal">

       				<div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Choose Module</label>
                        <div class="col-md-6">

                        	<select name="module_id" class="form-control" id="module" ng-model="credentials.module_id" required>
		                      <optgroup label="Choose module">
		                          <option ng:repeat="item in modules" value="{{item.id}}">{{item.name}}</option>
		                      </optgroup>
		                  	</select>

                        </div>
              		</div>

	 				<div class="form-group">
						<label for="#" class="col-md-3 control-label">Select Date</label>
						<div class="col-md-6">
							<datepicker ng-model="credentials.date" min-date="minDate" show-weeks="true" class="datepicker" required></datepicker>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label padding-top">Select Time</label>
						<div class="col-md-6">
							<timepicker ng-model="credentials.mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="timepicker">
							</timepicker>
						</div>
					</div>

	  				<div class="form-group">
	                  <label for="fieldname" class="col-md-3 control-label"></label>
	                  <div class="col-md-6">
	                  	<input type="submit" class="finish btn-success btn" value="Create new slot" />
	                  </div>
	              	</div>

             	</form>

			</panel>

        </div>
    </div>

</div> <!-- container-fluid -->