<div ng-controller="editTest">
   <div id="page-heading">
      <ol class="breadcrumb">
         <li><a href="#/">Dashboard</a></li>
         <li>Tests & Examination</li>
         <li class="active">Edit Test</li>
      </ol>
      <h1>Edit Test - {{test.name}}</h1>
      <div class="options">
         <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Test questions form" ng-controller="submitTestQuestions">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
               </panel-controls>
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong><br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <form ng-submit="submit(credentials)" ng-controller="submitTestQuestions" class="form-horizontal row-border">
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Question</label>
                     <div class="col-md-6">
                        <textarea name="description" id="fieldabout" class="form-control autosize" rows="2" ng-model="credentials.question"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #1</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_1"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #2</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_2"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #3</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_3"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Option #4</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="text"
                           required
                           ng-model="credentials.option_4"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Correct Answer</label>
                     <div class="col-md-6">
                        <select name="correct_answer" class="form-control" ng-model="credentials.correct_answer" required>
                           <optgroup label="Select correct answer">
                              <option value="1">Option #1</option>
                              <option value="2">Option #2</option>
                              <option value="3">Option #3</option>
                              <option value="4">Option #4</option>
                           </optgroup>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Mark</label>
                     <div class="col-md-6">
                        <input name="total_collected"
                           type="number"
                           placeholder="Numbers only"
                           required
                           ng-model="credentials.mark"
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label"></label>
                     <div class="col-md-6">
                        <input type="submit" class="finish btn-success btn" value="Add Question" />
                        <a href="/#/view-tests" class="finish btn-info btn">Back to list</a>
                     </div>
                  </div>
               </form>
               <panel panel-class="panel-sky" heading="Questions">
                  <panel-controls></panel-controls>
                  <div ng-controller="editTest">
                     <p ng-hide="isValid(shared.mydata)" class="ng-hide">Not Available.</p>
                     <div class="table-responsive" ng-show="isValid(shared.mydata)">
                        <table class="table">
                           <thead>
                              <tr>
                                 
                                 <th style="padding-right:100px">Question</th>
                                 <th>Option #1</th>
                                 <th>Option #2</th>
                                 <th>Option #3</th>
                                 <th>Option #4</th>
                                 <th>Correct Answer</th>
                                 <th>Mark</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng:repeat="q in shared.mydata">
                                
                                 <td align="left" ><i>{{q.question}}</i></td>

                                 <td align="left"><i>{{q.option_1}}</i></td>
                                 <td align="left"><i>{{q.option_2}}</i></td>
                                 <td align="left"><i>{{q.option_3}}</i></td>
                                 <td align="left"><i>{{q.option_4}}</i></td>
                                 <td align="left"><i>{{q.correct_answer}}</i></td>
                                 <td align="left"><i>{{q.mark}}</i></td>
                                 <td>
                                    <!-- <a href="/#" class="btn btn-sky btn-sm">Edit</a> -->
                                     <a ng-click="delete(q.question)" class="btn btn-brown btn-sm">Delete</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </panel>
            </panel>
         </div>
      </div>
   </div>
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete the question?
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Delete</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>

   </script>
</div>