<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Course Details</li>
      <li class="active">View Consultations</li>
   </ol>
   <h1>View Consultations</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="viewConsultations" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Consultation Hours List">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div id="alert" class="alert alert-danger hide">
               <strong>Error</strong> Unable to save the module data.<br><br>
               <ul>
                  <li id="error"></li>
               </ul>
            </div>
            <p ng-hide="isValid(credentials.consultations)" class="ng-hide">Not Available.</p>
            
            <!-- <div ng-show="isValid(credentials.consultations)" class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:50px">Module</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key, c) in credentials.consultations">
                        <td align="left"><i>{{c.name}}</i></td>
                        <td align="left"><i>{{c.date}}</i></td>
                        <td align="left"><i>{{c.student_id ? c.studentname : "Empty" }}</i></td>
                        <td>
                           <a href="/#/view-consultation/{{c.id}}" class="btn btn-success btn-sm">View</a>
                           <button ng-click="delete(key, c.id)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div> -->


            <div class="input-icon right mb10">
               <i class="fa fa-search icon-search-box"></i>
               <input type="text" ng-model="filterOptions.filterText" class="form-control search-box-inline" placeholder="Search Filter">
               <button ng-click="view()" class="btn btn-success inline-block">View</button>
               <button ng-click="remove()" class="btn btn-danger inline-block">Delete</button>
            </div>

            <div ng-show="isValid(credentials.consultations)" style="height: 300px;" ng-grid="gridOptions"></div>

         </panel>
      </div>
   </div>
</div>