<div ng-controller="MainController"
	id="headerbar"
	ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
	ng-show="!getLayoutOption('fullscreen')"
	ng-cloak>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-brown">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-star"></i></div>
					</div>
					<div class="tiles-footer">
						Create Post
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-grape">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-user"></i></div>
						<div class="pull-right"><span class="badge">2</span></div>
					</div>
					<div class="tiles-footer">
						Contacts
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-primary">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-envelope"></i></div>
						<div class="pull-right"><span class="badge">10</span></div>
					</div>
					<div class="tiles-footer">
						Messages
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-inverse">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-camera"></i></div>
						<div class="pull-right"><span class="badge">3</span></div>
					</div>
					<div class="tiles-footer">
						Gallery
					</div>
				</a>
			</div>

			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-midnightblue">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-cog"></i></div>
					</div>
					<div class="tiles-footer">
						Settings
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-orange">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-wrench"></i></div>
					</div>
					<div class="tiles-footer">
						Plugins
					</div>
				</a>
			</div>
						
		</div>
	</div>
</div>

<header
	id="topnav"
	class="navbar ng-hide"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	ng-controller="MainController"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak>
	<a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>
	<a id="rightmenu-trigger" ng-click="toggleRightBar()"></a>


	<div class="navbar-header pull-left">
		<a class="navbar-brand" href="#/"><h2>Campus Online</h2></a>
		
	</div>

	
	<div id="search-inline"
		class="nav navbar-nav navbar-form hidden-xs"
		ng-class="{
		  active: getLayoutOption('showSmallSearchBar')
		}">
		<div class="input-icon">
			<i class="glyphicon glyphicon-search search"></i>
			<input type="text" placeholder="Type to search..." class="form-control" tabindex="1">
			<i class="glyphicon glyphicon-remove remove visible-xs-inline-block" ng-click="toggleSearchBar($event)"></i>
		</div>
	</div> 

	<ul class="nav navbar-nav pull-right toolbar">
	  <li class="dropdown" ng-show="!isLoggedIn">
		<a href="#/extras-login2" style="font-size: 14px"><i class="fa fa-sign-in"></i> Log in</a>
	  </li>

	  <li class="dropdown" ng-show="isLoggedIn" dropdown>
		<a href class="dropdown-toggle username" dropdown-toggle><img src="assets/demo/avatar/dangerfield.png" alt="Dangerfield" /></a>

		<ul class="dropdown-menu animated userinfo arrow" ng-controller="logoutController">
		  <li class="userlinks">
			<ul class="dropdown-menu">
			  <li><a href="/#/profile">My Profile<i class="pull-right glyphicon glyphicon-user"></i></a></li>
			  <li><a href="#">Settings <i class="pull-right glyphicon glyphicon-cog"></i></a></li>

			  <li class="divider"></li>
			  <li>
			  <!-- <a ng-click="logout()" class="text-right" >Sign Out</a> -->
			  <a href="/logout" class="text-right" >Sign Out</a>
			  </li>
			</ul>
		  </li>
		</ul>
	  </li>
	  

	  <!-- 
	  <li class="dropdown hidden-xs" dropdown ng-controller="MessagesController" ng-show="isLoggedIn">
		<a href class="dropdown-toggle" dropdown-toggle>
		 <i class="glyphicon glyphicon-envelope"></i><span class="badge badge-danger" ng-if="unseenCount>0" ng-bind="unseenCount"></span>
		</a>
		<ul class="dropdown-menu animated messages arrow">
		  <li class="dd-header">
			<span>Messages ({{unseenCount}})</span>
			<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
		  </li>
			  <div class="scrollthis" scrollable>
				<li ng-repeat="item in messages">
				  <a href="#/" ng-class="{active: !item.read}">
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark read" class="btn-mark-read" ng-if="!item.read" ng-click="setRead(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unread" class="btn-mark-unread" ng-if="item.read" ng-click="setUnread(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
					<span class="time">{{item.time}}</span>
					<img ng-src="{{item.thumb}}" alt="avatar" />
					<div>
					  <span class="name">{{item.name}}</span>
					  <span class="msg">{{item.message}}</span>
					</div>
				  </a>
				</li>
			  </div>
		  <li class="dd-footer"><a href="#" ng-click="setReadAll($event)">Mark all read</a></li>
		</ul>
	  </li> -->

	  
	  <li class="dropdown" dropdown ng-controller="NotificationsController" ng-show="isLoggedIn">
		<a href dropdown-toggle class="dropdown-toggle">
		  <i class="glyphicon glyphicon-globe"></i><span class="badge badge-indigo" ng-if="unseenCount>0" ng-bind="unseenCount"></span>
		</a>
		<ul class="dropdown-menu animated notifications arrow">
		  
		  <li class="dd-header">
			<span>Notifications ({{unseenCount}})</span>
			<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
		  </li>
				<div class="scrollthis" scrollable>
			<li ng-repeat="item in notifications">
			  <a href="#" class="{{item.class}}" ng-class="{active: !item.seen}">
				<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark seen" class="btn-mark-read" ng-if="!item.seen" ng-click="setSeen(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
				<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unseen" class="btn-mark-unread" ng-if="item.seen" ng-click="setUnseen(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
				<span class="time">{{item.time}}</span>
				<i class="{{item.iconClasses}}"></i>
				<span class="msg">{{item.text}}</span>
			  </a>
			</li>
				</div>
		  <li class="dd-footer"><a href="javascript:;" ng-click="setSeenAll($event)">Mark all seen</a></li>
		</ul>
	  </li>

	  <li class="visible-xs-block">
		  <a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	  </li>
	  <!--
	  <li ng-click="showHeaderBar($event)" class="hidden-xs">
		  <a href="" id="headerbardropdown"><i class="glyphicon glyphicon-th"></i></a>
	  </li>-->
	  
	  <li class="dropdown demodrop" dropdown>
		  <a href="/#/profile" class="dropdown-toggle tooltips"><i class="glyphicon glyphicon-cog"></i></a>
	  </li>

	  <li class="dropdown demodrop" dropdown>
	  	<section class="cd-section">
		  
		<a ng-morphing-modal content-selector="cbc" data-type="modal-trigger" class="dropdown-toggle tooltips manual"><i class="fa fa-support"></i> User Manual</a>

	  	<div class="cd-modal" id="cbc">
			<div class="cd-modal-content">

		 	<div class="slide-animate-container">
			    <div class="slide-animate" ng-include="template.url"></div>
		  	</div>
			
			</div> <!-- cd-modal-content -->
		</div> <!-- cd-modal -->


		</section>
	  </li>

	</ul>

<!--
<tour step="currentStep">
  <span tourtip="tip 1"> Highlighted </span>
  <span tourtip="tip 2"> Elements </span>
  <input tourtip="You can use it as an attribute on your element" />
  <span tourtip="Full options"
        tourtip-step="3"
        tourtip-next-label="Next"
        tourtip-placement="right"
        tourtip-offset="60">Full options</span>

        <a ng-click="openTour()">Open Tour</a>
</tour> -->


</header>
