<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Education Oasis</li>
    </ol>

    <h1>About Education Oasis</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         	<panel class="description" panel-class="panel-sky" heading="I. Overview">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

                <div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to save the module data.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>

                <h2>Vision</h2>
	            <p class="no-margin-top">
Our vision is to empower students to be academically proficient with a collaborative learning experience that crosses disciplines and values.Students will be engage in creativity and innovations aligned with a shift in global economy, society and environment to develop their lifelong career development.
</p>

<h2 style="margin-top:30px">Mission</h2>
<p class="no-margin-top">
<ul>
    <li>- Educate on essential job opportunities and acquiring of life skills to propel them to succeed in the competitive global market.</li>
    <li>- Cultivate external partnership to reach diverse opportunities.</li>
    <li>- Collaboration with professional partners to foster relationship and integrate technical experience in the workplace.</li>
    <li>- Expands resources and innovative technology to provide comprehensive services.</li>
    <li>- Social engagement to help students become critically engaged students.</li>
</ul>
</p>

<h2 style="margin-top:30px">Education Oasis At a Glance</h2>
<p class="no-margin-top">Education Oasis is an establishment committed to providing the highest quality, career-based training, driven by our team’s passion for education, training and development with commitment to excellent service.Education Oasis has a diverse human resource capacity that consists of individuals that have worked on local and international levels with proven track records of delivery in the education, training and development programme for all sectors.</p>
<p class="no-margin-top">
Our courses are tailored to client’s needs with a structure that is flexible and designed to match clients’ availability in terms of time and financial. Education Oasis produces its own materials and provide off-site and on-site training with conditional job placement.
We pursue the highest quality in all our training intervention by ensuring that our materials are relevant and unique in standards. Our facilitators are experts in their field and experienced professionals with relevant approach to learning in both visionary and innovative. </p>
            </panel>

    	</div>
	</div>
</div>
