<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Leadership Management</li>
    </ol>
    <h1>(BHM06) Leadership Management</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN BUSINESS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> BHM06</p>
                <p><strong>Module:</strong> Leadership Management</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Leadership Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.1 Introduction</li>
                                    <li>6.2 The Importance</li>
                                    <li>6.3 History
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Leadership definition
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.4 Leadership definition</li>
                                    <li>6.5 Overlapping functions of leadership</li>
                                    <li>6.6 Leadership attributes</li>
                                    <li>6.7 Leadership Traits and Skills</li>
                                    <li>6.8 Leader pitfalls to avoid</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. People Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.9 People Management</li>
                                    <li>6.10 Required People's management skills</li>
                                    <li>6.11 People's Management Technique</li>
                                    <li>6.12 Creative Engagement
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.13 Management</li>
                                    <li>6.14 Practical Strategies for Leadership Success</li>
                                    <li>Benefits of effective People's Management</li>
                                    <li>Strategic Talent Management</li>
                                    <li>6.15 Leadership - Management</li>
                                    <li>Overlapping functions of management</li>
                                    <li>Management - Leadership Functions</li>
                                    <li>6.16 Leadership models</li>
                                    <li>Leadership styles
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Leadership management is being able to use leadership skills in a management position.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn the basic skills and techniques required for effective and efficient “people’s management” and “People” in an organizational context.</p>
                <p>Students will learn how leader can “inspire passion” and “trust” among their team.</p>
                <p>Students will learn about “management” in an organizational context and their relevant functions.</p>
                <p>Students will learn about “Leadership” and it “attributes” in an organizational context.</p>
                <p>Students will learn about the core leadership traits and skills required to effectively manage people in an organization and “Leadership Pitfalls” that a leader or manager must avoid.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand what is Leadership Management</p>
                <p>Understand the definition Leadership</p>
                <p>Understand what is People Management</p>
                <p>Understand is Management
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
