<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Tourism and Hospitality</li>
    </ol>
    <h1>(BHM04) Tourism and Hospitality</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN BUSINESS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> BHM04</p>
                <p><strong>Module:</strong> Tourism and Hospitality</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Principal of Tourism and Hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.1 Introduction to Principal of Tourism and Hospitality</li>
                                    <li>4.2 Explain the career pathways in this industry.</li>
                                    <li>4.3 Describe the forms of Tourism.</li>
                                    <li>4.4 Explain the types of tourism.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Describe the Alternative form of Tourism
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.4.1 Discussion on Tourism and the Categories.</li>
                                    <li>4.4.2 Brief Explanation on Types of Tourism.</li>
                                    <li>4.5 Describe the Alternative form of Tourism</li>
                                    <li>4.6 Describe what Hospitality in Tourism is.</li>
                                    <li>4.7 Describe on Lodging and Accommodation.</li>
                                    <li>4.8 Describe the Three Main Types of Hotel Lodging</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Discussion on F&B In hotel industry
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.9. Discussion on F&B In hotel industry.</li>
                                    <li>4.10 Explain what is Travel and Tourism</li>
                                    <li>1.10.1 Explain the rough idea of Entertainment Industry
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe and Brief about Entertainment Industry in Hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.11. Describe and Brief about Entertainment Industry in Hospitality.</li>
                                    <li>1.11.1 Explain on Activities in Entertainment Industry.</li>
                                    <li>4.12. Describe about Time Share.</li>
                                    <li>1.12.1 Explain and discuss about Rules in Timeshare.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The hospitality and tourism industry encompasses (Includes) lodging, travel and tourism, recreation, amusements, attractions, resorts, restaurants, and food beverage service. The hospitality and tourism industry also maintains the largest national employment base in the private sector. Tourism Is the activities of people traveling to and staying in places outside their usual environment for leisure, business or other purposes for not more than one consecutive year. Hospitality refers to the relationship between a guest and a host, wherein the host receives the guest with goodwill, including the reception and entertainment of guests, visitors, or strangers.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn what the Principal of Tourism and Hospitality</p>
                <p>Students will learn the meaning of Tourism</p>
                <p>Students will learn what is the meaning of Hospitality</p>
                <p>Students will learn what is what the Hospitality in Tourism industry all about
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand what does Principal of Tourism and Hospitality means</p>
                <p>Understand the meaning of Tourism</p>
                <p>Understand the meaning of Hospitality</p>
                <p>Understand what the Hospitality in Tourism industry all about
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
