<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Culinary Fundamental</li>
    </ol>
    <h1>(CA02) Culinary Fundamental</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN CULINARY ARTS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> CA02</p>
                <p><strong>Module:</strong> Culinary Fundamental</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Culinary
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>2.0 What is Culinary?</li>
                                    <li>2.0.1 Culinary Skills Objective</li>
                                    <li>2.0.1.1 Receive, store & check goods</li>
                                    <li>2.0.1.2 Organize yourself for better time management & multi-tasking performance</li>
                                    <li>2.0.1.3 Acquire preliminary food preparation techniques & cutting methods</li>
                                    <li>2.0.1.4 Learn classic bases & sauces</li>
                                    <li>2.0.1.5 Learn fundamental cooking methods</li>
                                    <li>2.0.1.6 Learn French pastry arts fundamental techniques</li>
                                    <li>2.0.1.7 Plate and serve final food preparations</li>
                                    <li>2.0.2 A Brief History of the Culinary Art, And Its Principal Methods</li>
                                    <li>2.0.3 Careers of culinary professionals</li>
                                    <li>2.0.3.1 COOKING& PASTRY</li>
                                    <li>2.0.3.2 MANAGEMENT</li>
                                    <li>2.0.3.3 SPECIALTY
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. The Concepts, purpose and Tools of the trade in culinary
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>2.1 The Concepts for any professional cook or chef</li>
                                    <li>2.1.1 What Is Culinary Nutrition?</li>
                                    <li>2.1.2 What is Food safety?</li>
                                    <li>2.1.3 What is Food science?</li>
                                    <li>2.2 The purpose & uses for math in the professional kitchen</li>
                                    <li>2.2.1 Why Is Math Essential in the Culinary Field?</li>
                                    <li>2.2.1.1 Math Skills </li>
                                    <li>2.2.1.2 Measuring Ingredients </li>
                                    <li>2.2.1.3 Altering Recipes </li>
                                    <li>2.2.1.4 Converting Recipes </li>
                                    <li>2.2.2 How is it used?</li>
                                    <li>2.2.2.1 Math and the Food Budget</li>
                                    <li>2.2.2.2 Math and Meal Planning</li>
                                    <li>2.2.2.3 Math and Grocery Shopping</li>
                                    <li>2.2.2.4 Math and the Oven</li>
                                    <li>2.2.2.5 Math and Stove Top Cooking</li>
                                    <li>2.2.2.6 Math and Measuring Ingredients</li>
                                    <li>2.2.3 Conversions</li>
                                    <li>2.3 Tools of the trade in culinary</li>
                                    <li>2.3.1 Types of kitchen equipment</li>
                                    <li>2.3.1.1 Small electrical equipment</li>
                                    <li>2.3.1.2 Measuring equipment</li>
                                    <li>2.3.1.3 Hand tools</li>
                                    <li>2.3.1.4 Knives</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Ingredients found in a professional kitchen, Basic cooking skills and cuts of meat diagrams
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>2.4 Ingredients found in a professional kitchen</li>
                                    <li>2.4.1 Oils, Vinegars and Condiments</li>
                                    <li>2.4.2 Seasonings</li>
                                    <li>2.4.3 Canned Goods and Bottled Items</li>
                                    <li>2.4.4 Grains and Legumes</li>
                                    <li>2.4.5 Baking Products</li>
                                    <li>2.4.6 Refrigerator Basics</li>
                                    <li>2.4.7 Freezer Basics</li>
                                    <li>2.4.8 Storage Produce</li>
                                    <li>2.5 Basic Cooking Skill </li>
                                    <li>2.5.1 Basic Cooking Skill </li>
                                    <li>2.5.1.1 Dry Heat and Moist Heat Cooking</li>
                                    <li>2.5.1.2 "Dry" Oil and Other Fats</li>
                                    <li>2.5.1.3 Choosing the Right Cooking Technique</li>
                                    <li>2.5.2 Dry Heat Cooking</li>
                                    <li>2.5.2.1 Sautéing & Pan-Frying</li>
                                    <li>2.5.2.2 Roasting & Baking</li>
                                    <li>2.5.2.3 Broiling & Grilling</li>
                                    <li>2.5.2.4 Deep-Frying</li>
                                    <li>2.5.3 Moist Heat Cooking</li>
                                    <li>2.5.3.1 Braising & Stewing</li>
                                    <li>2.5.3.2 Poaching, Simmering & Boiling</li>
                                    <li>2.5.3.3 Boiling, Simmering and Poaching characteristics:</li>
                                    <li>2.5.3.4 Steaming</li>
                                    <li>2.6 Cuts of Meat Diagrams</li>
                                    <li>2.6.1 Cuts of Beef</li>
                                    <li>2.6.2 Cuts of Pork</li>
                                    <li>2.6.3 Cuts of Lamb
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. About Stocks, Sauces, and Soups, Fruits & Vegetables, Starch and Global Cuisine
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>2.7 Stocks, Sauces, and Soups</li>
                                    <li>2.7.1 Stock</li>
                                    <li>2.7.1.1 three major uses for stock</li>
                                    <li>2.7.1.2 Contains four essential parts: a major flavoring ingredient, liquid, aromatics, and mirepoix.</li>
                                    <li>2.7.1.3 Types of stock:</li>
                                    <li>2.7.2 Sauce</li>
                                    <li>2.7.2.1 Mother sauce</li>
                                    <li>2.7.3 Soup</li>
                                    <li>2.8 Fruits & Vegetables</li>
                                    <li>2.8.1 Fruits</li>
                                    <li>2.8.2 Vegetable</li>
                                    <li>2.9 Starch</li>
                                    <li>2.10 Global Cuisine</li>
                                    <li>2.10.1 Types of Cuisine</li>
                                    <li>2.10.1.1 Asia</li>
                                    <li>2.10.1.1.1 East Asia</li>
                                    <li>2.10.1.1.1.1 Japan</li>
                                    <li>2.10.1.1.1.2 China </li>
                                    <li>2.10.1.1.2 South Asia</li>
                                    <li>2.10.1.1.2.1 India</li>
                                    <li>2.10.1.2 Europe</li>
                                    <li>2.10.1.2.1 Western Europe </li>
                                    <li>2.10.1.3 North America</li>
                                    <li>2.10.1.3.1 United States</li>
                                    <li>2.10.1.4 South America</li>
                                    <li>2.10.1.5 Oceania</li>
                                    <li>2.10.1.5.1 Australia</li>
                                    <li>2.10.1.5.2 New Zealand
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Culinary is actually a word used relating to the practice of cookery or the activity of cooking. Therefore, the fundamental of culinary consist of tools that you can use throughout your culinary education and certification, as well as throughout your professional career.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn what Culinary is all about</p>
                <p>Students will learn the Concepts, purpose and Tools of the trade in culinary</p>
                <p>Students will learn and know the Ingredients found in a professional kitchen, Basic cooking skills and cuts of meat diagrams.</p>
                <p>Students will learn about Stocks, Sauces, and Soups, Fruits & Vegetables, Starch as well as the Global Cuisine
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand what Culinary is all about</p>
                <p>Understand the Concepts, purpose and Tools of the trade in culinary</p>
                <p>Understand and know the Ingredients found in a professional kitchen, Basic cooking skills and cuts of meat diagrams.</p>
                <p>Understand about Stocks, Sauces, and Soups, Fruits & Vegetables, Starch as well as the Global Cuisine
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
