<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Essential of Baking's and Pastry</li>
    </ol>
    <h1>(CA04) Essential of Baking's and Pastry</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN CULINARY ARTS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> CA04</p>
                <p><strong>Module:</strong> Essential of Baking's and Pastry</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Bakes and Pastries
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.0. Introduction to Bakes and Pastries</li>
                                    <li>4.1. Describe about Fat in Bakes.</li>
                                    <li>4.2. Explain about Function of Fat. </li>
                                    <li>4.3. Discuss the Sugar in Bakes</li>
                                    <li>4.4. Understanding on Syrups in Baking. </li>
                                    <li>4.5. Explain the Leavening Agent in Baking industry</li>
                                    <li>4.6. Discuss on Flour Grades.</li>
                                    <li>4.7. Understand about Eggs and Grade in Baking
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. The Methods and Techniques in Baking
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.8. Describe the Mixing Methods and Techniques. </li>
                                    <li>4.9. Explanation on Heat Transfer and the Science of Baking.</li>
                                    <li>4.10. Explain and Discuss on Baking and Cooking Method.</li>
                                    <li>4.11. Discuss the Common Bake Shop cooking method.</li>
                                    <li>4.12. Explain the Stage of Baking </li>
                                    <li>4.13. Discuss about The Science of Flavor.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. The Ingredients and Principle of Pastry
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.14. Describe the Kinds of Pastry.</li>
                                    <li>4.15. Describe the Main type of Pastry.</li>
                                    <li>4.16. Discuss the Ingredients for Good Pastry</li>
                                    <li>4.17. Explain the 1st Principle in pastry – Gluten Formation.</li>
                                    <li>4.18. Explain the 2nd Principle in pastry – Mixing & Handling </li>
                                    <li>4.19. Explain the 3rd Principle in pastry - Baking Pastry.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. The Nutrition, Rules and Regulations.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.20. Describe about Nutrients and Storage in Baking and Pastry.</li>
                                    <li>4.21. Describe the Convenient Pastries.</li>
                                    <li>4.22. Discuss and explain about Rules & Regulation In Bakes, and Pastry Industry.</li>
                                    <li>4.23. Explanation about Food Safety.</li>
                                    <li>4.24. Describe the Sanitation.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>International Cuisine shows how the history, geography, religion and, of course, the ingredients of a particular region/country/area influence different cuisines. Discuss one country individually, while others include two or more combined. The effort was to select countries that are culinary representatives to the world. For instance, entire chapters are devoted to Mexico, China, Spain, France, and Italy.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The course aims to fulfill the following objectives:</p>
                <p>• Demonstrate core concepts in baking theory and methodology through hands-on development and sensory analysis of American and European style baking and pastry products. </p>
                <p>• Illustrate advanced classical and contemporary pastry and confectionary techniques in the planning, development, execution, and evaluation of products, menus, and creative presentations. </p>
                <p>• Research and distinguish effective restaurant and patisserie operations including sustainable facilities, equipment, and evolving technologies.</p>
                <p>• Employ leadership and supervision concepts with an emphasis on communication, cultural diversity, and positive guest relations. </p>
                <p>• Analyze and integrate problem-solving techniques in a professional, ethical, and profitable business environment.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand the Fat in Bakes and about Function of Fat.</p>
                <p>Understand The Sugar in Bakes and Syrups in Baking.</p>
                <p>Understand The Leavening Agent in Baking industry </p>
                <p>Understand The Mixing Methods and Techniques.</p>
                <p>Understand The Heat Transfer and the Science of Baking.</p>
                <p>Understand The Baking and Cooking Method.</p>
                <p>Understand The Ingredients for Good Pastry</p>
                <p>Understand The Principle in pastry</p>
                <p>Understand The Nutrients and Storage in Baking and Pastry</p>
                <p>Understand The Rules & Regulation In Bakes, and Pastry Industry
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
