<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Food and Beverages </li>
    </ol>
    <h1>(CA06) Food and Beverages </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN CULINARY ARTS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> CA06</p>
                <p><strong>Module:</strong> Food and Beverages </p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Food and Beverage Operations and Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.1 Types of Catering Sectors</li>
                                    <li>6.2 Basic Etiquette of Food and Beverage Personnel </li>
                                    <li>6.3 Attributes of Food and Beverage Personnel
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Food Production
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.4 Types of Service</li>
                                    <li>6.5 Five Categories </li>
                                    <li>6.6 Preparation for Service
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Beverage Control
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.7 Classes of Menu </li>
                                    <li>6.8 Food Storing & Issuing Control </li>
                                    <li>6.9 Issuing Control: Establishing Standard and Standard Procedure for Issuing
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Designing Operational Areas, Equipment and Staffing of Food service Operations
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>6.10 Factor 1. Condition of facilities and equipment </li>
                                    <li>6.11 Factor 2: Arrangement of Foods</li>
                                    <li>6.12 Factor 3: Location of Storage Facilities </li>
                                    <li>6.13 Factor 4: Security</li>
                                    <li>6.14 Factor 5: Dating and Pricing
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>This subject introduces students to all aspects of food and beverage management. The steps to opening and managing a restaurant will be covered. These include location selection, interior design and menu planning, day to day operational concerns such as hygiene and sanitation, marketing, staff scheduling, motivation and management, service styles, customer service issues and technological innovations.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>This module focuses on the analysis of the operations and determines the best course of action in food & beverage operations and management. It examines the ways to maximize service efficiency and productivity to satisfy demands of today's guests. Topics also include organization of food & beverage operations, marketing, nutrition, menu, standard product costs & pricing strategies, productions, service, cost controlling, facility design, layout and equipment.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Identify the major factors affecting the growth of the food and beverage industry. </p>
                <p>Understand the customer. </p>
                <p>Develop a marketing plan. </p>
                <p>Promote the operation. </p>
                <p>Understand the pricing and designing of the menu. </p>
                <p>Understand the important of delivering high quality service. </p>
                <p>Understand the important of physical facility. </p>
                <p>Develop procedures for the effective purchasing, receiving, storing, and issuing of items used in the operation. </p>
                <p>Understand the important of kitchen equipment selection, maintenance and energy management </p>
                <p>Exercise effective cost controlling </p>
                <p>Learn about the concept of risk management and the safeguarding of assets.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
