<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Food and Nutrition </li>
    </ol>
    <h1>(CA07) Food and Nutrition </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN CULINARY ARTS AND HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> CA07</p>
                <p><strong>Module:</strong> Food and Nutrition</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Food and Nutrition
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>7.0 Introduction to Food and Nutrition</li>
                                    <li>7.1 Explain the Definition of Nutrition, Food and Health.</li>
                                    <li>7.2 Describe the Importance of Nutrition.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. The Class of Nutrients
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>7.3 Discussion on Class of Nutrients. </li>
                                    <li>7.3.1. PROTIENS</li>
                                    <li>7.3.2.CARBOHYDRATES</li>
                                    <li>7.3.3. FATS</li>
                                    <li>7.3.4. VITAMINS</li>
                                    <li>7.3.5. MINERALS</li>
                                    <li>7.3.6. WATER
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. The Changing Concept of Nutrition
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>7.4. Discussion on Changing Concept of Nutrition. </li>
                                    <li>7.5. Explain what is the relation between Nutrition and Health.</li>
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. The States Of Nutrition
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>7.6. Describe and Brief about Functions of Food and Nutrition.</li>
                                    <li>7.7. Explain on States Of Nutrition.</li>
                                    <li> - Nutritionally Balanced Diet.</li>
                                    <li> - The Food Pyramid.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Observe and investigate properties of foods. </p>
                <p>• Become aware of carbohydrates, proteins, fats, and vitamins as components of food. </p>
                <p>• Gain experience with indicators. </p>
                <p>• Use indicators to test for acid, vitamin C, sugar, and fat in foods. </p>
                <p>• Relate the results of investigations and experiments to the amount of chemicals in foods.</p>
                <p>• Become aware of guides for healthy nutrition. </p>
                <p>• Become informed consumers, able to gather information about food products
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The course aims to fulfill the following objectives:</p>
                <p>• Educate individuals and the public on food choices that will optimize health and prevent disease.</p>
                <p>• Apply nutrition principles to health promotion and the prevention of diet-related disease conditions.</p>
                <p>• Monitor trends and issues in the discipline of nutrition and translate this information into curriculum and training programs.</p>
                <p>• Apply research principles and methods to the examination of current problems in nutrition and health.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand the Definition of Nutrition, Food and Health.</p>
                <p>Understand The Importance of Nutrition.</p>
                <p>Understand The Class of Nutrients</p>
                <p>Understand The Changing Concept of Nutrition.</p>
                <p>Understand The Relation between Nutrition and Health.</p>
                <p>Understand The Functions of Food and Nutrition d.</p>
                <p>Understand The States Of Nutrition</p>
                <p>Understand The Nutritionally Balanced Diet</p>
                <p>Understand The Food Pyramid
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
