<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Appendix</li>
        <li class="active">NEC Student Complaints Procedure</li>
    </ol>

    <h1>NEC Student Complaints Procedure</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="myTasks" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

        </div>

    </div>

</div>