<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <h1><i class="fa fa-globe fa-dash"></i> Student Dashboard</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>


<div class="container-fluid" ng-controller="dashboardController">

<div class="row">
        <div class="col-md-3">
            <!-- avatar -->
            <div class="panel panel-widget widget-userfocus">
                <div ng-app init="credentials = {avatar: ''}" back-img="{{credentials.avatar}}" class="widget-body" style="height: 174px ! important;">
                    
                    <img ng-if="!credentials.avatar" src="assets/demo/avatar/dangerfield.png" alt="Dangerfield" class="img-circle" />

                    <span ng-if="!credentials.avatar" class="name">{{ type.name }}</span>
                </div>
                <div class="widget-footer">
                    <table class="table" style="height: 86px;">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="number">{{module_s_count[0]}}</span>
                                    <span class="number-context">Courses</span>
                                </td>
                                <td>
                                    <span class="number">{{module_s_count[1]}}</span>
                                    <span class="number-context">Modules</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-9" ng-controller="FlotChartsController" ng-drop="true">
            
            <panel panel-class="panel-gray no-padding" heading="Important Announcements" ng-drag="true">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
            
                <div class="mb0" style="width: 100%; height:195px">

                    <p ng-hide="isValid(credentials.announcements)" class="ng-hide">There are currently no new announcements</p>

                    <p ng:repeat="(index, item) in credentials.announcements track by index">
                    <span class="{{item.type}}">[{{item.datetime}}] {{item.value}}</span></p>
                </div> 
            </panel>
        </div>

</div>



<div class="row">

    <!--<div ng-controller="TasksController2"> -->
    <div ng-controller="dashboardController">
    
    
    <script type="text/ng-template" id="items_renderer.html">
        
        <div class="task-container">
           
            <span class="label label-{{item.color || 'primary'}}" ng-show="!item.editing"></span>
            <span class="task-description" ng-show="!item.editing">{{item.title}}</span>

                <form class="form-horizontal" ng-submit="doneEditing(item)" ng-show="item.editing" data-nodrag>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" dropdown style="">
                                      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                        <div class="label label-{{item.color||'primary'}} color-block"></div>
                                      </button>
                                      <ul class="dropdown-menu dropdown-colors" role="menu">
                                        <li><span class="label label-success" ng-click="item.color='success'"></span></li>
                                        <li><span class="label label-primary" ng-click="item.color='primary'"></span></li>
                                        <li><span class="label label-warning" ng-click="item.color='warning'"></span></li>
                                        <li><span class="label label-danger" ng-click="item.color='danger'"></span></li>
                                        <li><span class="label label-info" ng-click="item.color='info'"></span></li>
                                      </ul>
                                    </div>
                                </div>
                                <input type="text" class="form-control no-validate" ng-model="item.title" placeholder="Task title..." ng-keyup="cancelEdit($event, item)">
                                <div class="input-group-btn">
                                    <input type="submit" class="btn btn-primary" value="Save" / >
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </div>

        <div class="options todooptions">
            <div class="btn-group" ng-show="!item.editing">
                
                <a href="/files/tasks/{{item.file}}" download="{{c.file}}" data-nodrag class="btn btn-default btn-xs"><i class="glyphicon glyphicon-download-alt"></i></a>

                <a data-nodrag class="btn btn-default btn-xs" ng-click="open(item.id)"><i class="glyphicon glyphicon-upload"></i></a>
            <!--
                <button data-nodrag class="btn btn-default btn-xs" ng-click="complete(this, item)"><i class="glyphicon glyphicon-ok"></i></button>

                <button data-nodrag class="btn btn-default btn-xs" ng-click="edit(item)"><i class="glyphicon glyphicon-edit"></i></button>

                <button data-nodrag class="btn btn-default btn-xs" ng-click="remove(this)"><i class="glyphicon glyphicon-remove"></i></button> -->
            </div>
        </div>
    </script>

    <div class="col-xs-12" id="tasks-demo">

        <div class="col-xs-6">

                        <panel heading="My Tasks" panel-class="panel-default">
                            <panel-controls>

                            <panel-control-collapse></panel-control-collapse>
                            <!--
                                <panel-control-collapse></panel-control-collapse>
                                <panel-control-title></panel-control-title>
                                <panel-control-colors></panel-control-colors>
                                <button class="btn btn-primary btn-sm mr10" ng-click="showForm=true;showTasksTab=true;showCompletedTab=false" style="margin-top: -5px;">Add Task</button>
                            -->
                            </panel-controls>

     
            <div class="tasklist">

                <p ng-hide="isValid(credentials.tasks)" class="ng-hide">There are currently no new tasks</p>

                <ul ng-model="tasks" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks">
                    <li
                        as-sortable-item
                        ng-repeat="(key,item) in credentials.tasks track by key"
                        ng-include="'items_renderer.html'"
                        ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                    >
                    </li>
                </ul>
            </div>
            
    <div class="tasklist">
        <ul ng-model="tasksComplete" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks completed">

    <li as-sortable-item
        ng-repeat="item in tasksComplete"
        ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
    >
        <div class="task-container">
            <span class="label label-{{item.color || 'primary'}}" ng-show="item.label"></span>
            <span class="task-description">{{item.title}}</span>
        </div>
        
        <div class="options todooptions">
        <!-- 
            <div class="btn-group" ng-show="!item.editing">
                <button data-nodrag class="btn btn-default btn-xs" ng-click="incomplete(item, $index)"><i class="glyphicon glyphicon-repeat"></i></button>
            </div>
         -->
        </div>
    </li>
        </ul>

    </div>
        </panel>

        </div>

    <div class="row">

        <div class="col-xs-6">
            <a class="info-tiles tiles-success" href="#/course-syllabus">
                <div class="tiles-heading"><span class="text-center">Educational Program</span></div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-book"></i></div>
                    <div class="pull-right">BSc (Hons) in BA</div>
                </div>
            </a>
        </div>

        <div class="col-xs-6">
            <a class="info-tiles tiles-danger" href="#/student-myunits">
                <div class="tiles-heading"><span class="text-center">Modules</span></div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-pencil"></i></div>
                    <div class="pull-right">My Units</div>
                </div>
            </a>
        </div>



        <div class="col-xs-6">
            <a class="info-tiles tiles-facebook" href="#/student-web-enrollment">
                <div class="tiles-heading"><span class="text-center">Course Progress</span></div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-graduation-cap"></i></div>
                    <div class="pull-right">Web Results</div>
                </div>
            </a>
        </div>

        <div class="col-xs-6">
            <a href="#/student-fee-statement" class="info-tiles tiles-twitter">
                <div class="tiles-heading"><span class="text-center">Fee Statement</span></div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-credit-card "></i></div>
                    <div class="pull-right">Course Fee Details</div>
                </div>
            </a>
        </div>
    </div>
    
    </div>
          
</div> 

</div><!-- container-fluid -->

<script type="text/ng-template" id="taskSubmission.html">
      <div class="modal-header">
          <h3 class="modal-title">Task Submission Form</h3>
      </div>
      <div class="modal-body">
            
      <form class="form-horizontal">

                <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2"><p><strong>Please Note: </strong> The  task must be submitted before the due date {{ item.id }}</p>
                </div></div>

                    <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-2 control-label">Choose File</label>
                        <div class="col-sm-6">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file" style="background: #e6e9ee">
                                    <span class="fileinput-new">Select a file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input fileread="credentials.file" type="file" name="file">
                                </span>

                                <span id="filename" class="fileinput-filename"></span>
                                <a href="#"  class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                            </div>
                        </div>
                    </div>
            </form>

      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Submit Task</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
</script>
