<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Essentials of marketing and customer relationships </li>
    </ol>
    <h1>(DBM05) Essentials of marketing and customer relationships </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN BUSINESS MANAGEMENT</p>
                <p><strong>Module Code:</strong> DBM05</p>
                <p><strong>Module:</strong> Essentials of marketing and customer relationships </p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Marketing
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>5.0. Introduction to Marketing</li>
                                    <li>5.1. Describe about Marketing Society.</li>
                                    <li>5.2. Discuss the social issue in Marketing.</li>
                                    <li>5.3. & 5.4. Explain the Concept of Marketing and Sales.</li>
                                    <li>5.5. Find the Relationship in Marketing and Sales</li>
                                    <li>5.6. & 5.7. Basic Functions of Marketing</li>
                                    <li>5.8. Describe the Lead Management.</li>
                                    
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>

                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Discussion about SWOT Analysis
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>5.9. Discussion about SWOT Analysis.</li>
                                    <li>5.10. Discussion on PESTLE Analysis.</li>
                                    <li>5.11. Description on Model for Marketing</li>
                                    <li>5.12. & 5.13 Explain the Consumer Behavior and Key Terms used in Marketing.</li>
                                    <li>5.14. Explain the Brands</li>
                                    <li>5.15. Explain about what Marketing Plans define.</li>
                                    <li>5.16. Discuss what are the Risks involved in Marketing.</li>
                                    <li>5.17. Explanation about Marketing MIX.</li>
                                   
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Screen through the Definition of Customer Relationship and Types of CRM available.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>5.20. & 5.21. Screen through the Definition of Customer Relationship and Types of CRM available.</li>
                                    <li>5.22 & 5.23. Discuss on the purpose of CRM and the importance of CRM.</li>
                                    <li>5.24. & 5.25. Explain the development and the goals of Customer Relationship.</li>
                                    <li>5.26. & 5.27. Describe the Involvement and Implementation of CRM.</li>
                                    <li>5.28. Discuss the Strategic of CRM.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe about IT in CRM.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>5.29. Describe about IT in CRM.</li>
                                    <li>5.30. Explain the Face to Face Customer Relationship.</li>
                                    <li>5.31. & 5.32. Describe the Benefits of CRM and the CRM Limitation.</li>
                                    <li>5.33. Explain and Discuss the Reason of Failure in CRM.</li>
                                    <li>5.34. Discussion and Conclusion of Business Marketing and Customer Relationship studies.</li>
                                    <li>5.35. Explain the Relationship Bonding.</li>
                                    
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>In this module, student will learn the marketing, sales and customer care in the tourism and hospitality market. They will be taught the theories of the marketing, the principles of selling, the concept of customer care and the customer relationship in the tourism and hospitality industry.</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To be able to improve the marketing and sales and understand the customer needs.</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>1. Understand marketing theories </p>
                <p>2. Understand the principles of selling </p>
                <p>3. Understand the concept of customer care </p>
                <p>4. Understand customer relationships </p>
                
                
                
            </panel>

            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
