<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Principal of Management</li>
    </ol>
    <h1>(DBM01) Principal of Management</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN BUSINESS MANAGEMENT</p>
                <p><strong>Module Code:</strong> DBM01</p>
                <p><strong>Module:</strong> Principal of Management</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Principle of Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>1.0 Introduction to Principle of Management</li>
                                    <li>1.1. Describe What in Principle of Management is.</li>
                                    <li>1.2. & 1.3. Describe the Major Activities in Management.</li>
                                    <li>1.4. Explain what the Function of Management is.</li>
                                    <li>1.5. Importance of Management.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                                <!-- <ol>
                                    <li>
                                        Management structures (hierarchical, matrix etc)
                                    </li>
                                    <li>
                                        Responsibilities of managers, supervisors and workers
                                    </li>
                                    <li>Scheduling and rota planning</li>
                                </ol> -->
                            </td>
                        </tr>

                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Discussion on Level of Management.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>1.6. Discussion on Level of Management.</li>
                                    <li>1.7. & 1.8. Describe the Characteristics of Manager and Management.</li>
                                    <li>1.9. Explain the Style of Management</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Discussion on Management Style and Leadership in Management.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>1.9. Discussion on Management Style and Leadership in Management.</li>
                                    <li>1.10. Describe the Strategic planning in Management.</li>
                                    <li>1.11. to 1.14. Explain and Discuss about various type of Management</li>
                                    <li>1.15. Describe about Human Relation Movement in Management.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe about Behavioral Science Approach and the Contribution in Management.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>1.16. Describe about Behavioral Science Approach and the Contribution in Management.</li>
                                    <li>1.17. Describe the Project Management and The Development.</li>
                                    <li>1.18. Explain on Managerial Quality.</li>
                                    <li>1.19. Explain the Problem Solving Techniques in Management.</li>
                                    <li>1.20. Discussion on Managing Changes in Management.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <!-- <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Understand the legal implications of staff management in tourism and hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>2.1 Describe the purpose and features of a contact of employment</li>
                                    <li>2.2 Outline the financial and legal implications of different types of employment contract</li>
                                    <li>2.3 Describe the costs of employing staff</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                                <ol>
                                    <li>
                                        Purpose and typical contents of a contract of employment, employer/employee expectations, requirements and entitlements
                                    </li>
                                    <li>
                                        Financial imlications of employing different types of staff
                                    </li>
                                    <li>Sick pay and holiday pay entitlements</li>
                                    <li>Overheads of employing staff</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Understand the principles of leadership and motivation in tourism and hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>3.1 Describe the link between motivation and productivity</li>
                                    <li>3.2 Outline the characteristics of an effective leader</li>
                                    <li>3.3 Explain what makes for an effective team</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                                <ol>
                                    <li>
                                        Motivation theory (Mascalow, Herzberg etc.)
                                    </li>
                                    <li>
                                        Qualities and responsibilities of leaders (trait theory, situational leadership)
                                    </li>
                                    <li>Belbins team roles</li>
                                    <li>Team building</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Understand the principles of equal opportunities in tourism and hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.1 Describe principles of equal opportunities in the workplace</li>
                                    <li>4.2 Describe the purpose of an industry code of ethics</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                                <ol>
                                    <li>
                                        Equal opportunities and diversity (age, race, gender, disability)
                                    </li>
                                    <li>
                                        Professional values, ethics and industry code of practice
                                    </li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                5. Understand the use of IT in tourism and hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>5.1 Explain how IT is used in the tourism and hospitality industry</li>
                                    <li>5.2 Create standard business letters using Word</li>
                                    <li>5.3 Explain the use of a spreadsheet to record and reconcile daily income and outgoings</li>
                                    <li>5.4 Explain the use of IT in the industry using PowerPoint</li>
                                    <li>5.5 Explain the uses of Access databases in the industry</li>
                                    <li>5.6 Explain the uses and limitations of email in the industry</li>
                                    <li>5.7 Describe how the internet can be used for business research purposes</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                                <ol>
                                    <li>
                                        Use of IT for different applications within the industry
                                    </li>
                                    <li>
                                        Proprietary software packages
                                    </li>
                                    <li>Use of Word, Excel, PowerPoint, Access and email</li>
                                    <li>Research using the internet, Search Engine Optimisation (SEO)</li>
                                    <li>Websites as a means of communication</li>
                                    <li>Online booking platforms</li>
                                    <li>Industry-specific market places (eg. Expedia)</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="left" data-title="Learning Outcomes">
                                Additional information about the unit
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Unit purpose and aim(s)
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                This unit aims to introduce students to the essentials of human resources in tourism and hospitality. Students will understand the organisation of staff in tourism and hospitality, the principles of leadership, motivation and equal opportunities and the use of IT in tourism and hospitality
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Unit Review date
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                31/12/18
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Details of the relationship between the unit and relevant National Occupational Standards or other professional standards or curricula (if appropriate)
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                <ul>
                                    <li>
                                        People 1st National Occupational Standards in Hospitality Supervision and Leadership</li>
                                    <li>
                                        People 1st National Occupational Standards in Travel & Tourism
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Assessment requirements specified by a sector or regulatory body (if appropriate)
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                Please refer the Assessment Handbook section for more information.
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Support for the unit by a sector or other appropriate body (if required)
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                Industry support
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Location of the unit within the subject/sector classification system
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                7.4 Hospitality and catering
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Name of the organisation submitting the unit
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                New England College
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Availability for use
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                Shared
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                Unit available from
                            </td>
                            <td colspan="2" data-title="Assessment criteria">
                                01/01/2016
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The principles of management are the means by which you actually manage, that is, get things done through others—individually, in groups, or in organizations. Formally defined, the principles of management are the activities that “plan, organize, and control the operations of the basic elements of [people], materials, machines, methods, money and markets, providing direction and coordination, and giving leadership to human efforts, so as to achieve the sought objectives of the enterprise.</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn that the main objective of management is to secure maximum outputs with minimum efforts & resources. Management is basically concerned with thinking & utilizing human, material & financial resources in such a manner that would result in best combination. This combination results in reduction of various costs.</p>
                <p>Students will learn about Increasing the Efficiency of factors of Production - Through proper utilization of various factors of production, their efficiency can be increased to a great extent which can be obtained by reducing spoilage, wastages and breakage of all kinds, this in turn leads to saving of time, effort and money which is essential for the growth & prosperity of the enterprise.</p>
                <p>Students will learn the Maximum Prosperity for Employer & Employees - Management ensures smooth and coordinated functioning of the enterprise. This in turn helps in providing maximum benefits to the employee in the shape of good working condition, suitable wage system, incentive plans on the one hand and higher profits to the employer on the other hand.</p>
                <p>Students will learn Human betterment & Social Justice - Management serves as a tool to uplift as well as the betterment of the society. Through increased productivity & employment, management ensures better standards of living for the society. It provides justice through its uniform policies.</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>1. Understand what is Principal of Management</p>
                <p>2. Understand what is Management Activities, Functions, importance, levels. </p>
                <p>3. Understand the Evolution of Management Thought</p>
                <p>4. Understand the Characteristics of a Good Manager</p>
                <p>5. Understand what is Management Style and Leadership</p>
                <p>6. Understand what is Strategic Planning –SWOT Analysis</p>
                <p>7. Understand the Perspective, Scientific, Administrative, Bureaucratic of Management</p>
                <p>8. Understand what is Human Relation Movement</p>
                <p>9. Understand the Behavioral Science Approach</p>
                <p>10. Understand what is Project Management</p>
                <p>11. Understand the Four Principles of Quality</p>
                <p>12. Understand Problem Solving Techniques</p>
                <p>13. Understand what is Managing Change</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
            <!-- <panel class="description" panel-class="panel-sky" heading="7. Recommended Reading">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <ul>
                    <li>
                        Lisa Hadfield-Law (2002) Train Your Team Yourself: How to design and deliver efective in-house training courses
                    </li>
                    <li>
                        Susan Fowler Woodring (1997) The Team Leader's Idea-A-Day Guide: 250 Ways to Make Your Team More Effective and Productive-Every Working Day of the Year
                    </li>
                    <li>
                        Susan H. Gebelein (2004) Successful Manager's Handbook: Develop Yourself, Coach Others, Published by PreVisor, Inc.
                    </li>
                    <li>Beth Gilbertsen and Vijit Ramchandani (1999) The Fieldstone Allicance Guide to Developing Effective Teams</li>
                </ul>
            </panel> -->
        </div>
    </div>
</div>
