<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Business Communication </li>
    </ol>
    <h1>(DBM08) Business Communication </h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN BUSINESS MANAGEMENT</p>
                <p><strong>Module Code:</strong> DBM08</p>
                <p><strong>Module:</strong> Business Communication </p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                               1. Describe The Definition of Business Communication
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>8.1. Describe The Definition of Business Communication.</li>
                                    <li>8.2. Explain what Communication is all about.</li>
                                    <li>8.3. & 8.4. Describe the Communication Cycle and the process.</li>

                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>

                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Describe the types of Communication
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>8.5. & 8.6. Describe the types of Communication.</li>
                                    <li>8.7. Explanation on Organizational Communication.</li>
                                    <li>8.8. Discuss about Effective Communication.</li>
                                    <li>8.9. Explain and Discuss on Feedback in communication studies and about Feedback Cycle.</li>
                                    
                                   
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Describe the level of Communication
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>8.10. Describe the level of Communication.</li>
                                    <li>8.11. Explain and Discuss on Balance of Interpersonal Communication.</li>

                                    
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe about Communication Skills and the types of communication skills
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>8.12. Describe about Communication Skills and the types of communication skills.</li>
                                    <li>8.13. Describe the Workplace communication and the importance of the study.</li>
                                    <li>8.14. Discuss and explain about Important for a business to achieve effective communication</li>
                                    <li>8.15. Explanation on Remedy Poor Communication Skills</li>
                                    
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Business communication is a specialized branch of general communication that is specifically concerned with business activities. Generally, when communication takes place between or among parties regarding business-related functions, it can be termed as business communication. But the process, methods, types, principles etc. remain almost same with those of general communication and the basic difference lies in their areas of application. </p>
<p>Business communication can be of two types internal and external. When communication occurs within the same organization, it is called internal business communication and it’s related to maintaining and improving the morale of employees, procedures and prescribing methods, directing the workers, keeping the management informed and announcing policies and organizational changes.</p>
<p>On the other hand, when communication occurs between and among people belonging to different business organizations, it is called external business communication. External communication is related to selling and obtaining goods and services, maintaining liaison with concerned parties, reporting to different parties etc.
</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn to exchange information with the internal and external parties. (Internal communication occurs within the organization through orders, instructions, suggestions, opinions etc)</p>

<p>Students will learn to develop and implement plans, to facilitate policy formulation, to achieve organizational goals,
to organize resources, coordinate, direct subordinates, motivate employees, create consciousness, increase efficiency, bring dynamism, improve labor-management (which is relationships), increase job satisfactions, convey employee reaction and orient employees

</p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>1. Understand what is communication </p>
                <p>2. Understand the Communication Cycle & process</p>
                <p>3. Understand the Types of communication</p>
                <p>4. Understand  what is Organizational Communication</p>
                <p>5. Understand  what is Effective communication</p>
                <p>6. Understand  what is Feedback & Feedback cycle</p>
                <p>7. Understand  what is the Levels of communication</p>
                <p>8. Understand  what is the Balance of interpersonal communication</p>
                <p>9. Understand  what is Communication Skill & Spoken communication</p>
                <p>10. Understand  what is Listening, Active Listening, Empathy, Confirmation and clarifying</p>
                <p>11. Understand  what is Workplace communication & Factors influencing workplace communication</p>
                <p>12. Understand  what is Important for a business to achieve effective communication and Communicating effectively ( as a manager)</p>
                <p>13. Understand  how to Remedy Poor Communication Skills </p>
                
            </panel>

            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>

            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
