<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Hotel & Restaurant Management</li>
    </ol>
    <h1>(DHM03) Hotel & Restaurant Management</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> DHM03</p>
                <p><strong>Module:</strong> Hospitality Marketing and Customer Service</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Hotel and Restaurant Management in Hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>3.0. Introduction to Hotel and Restaurant Management in Hospitality</li>
                                    <li>3.0.1. Describe Core Role of Hotel and Restaurant Management.</li>
                                    <li>3.1. Describe the Rule Of Hotel and Restaurant Management.</li>
                                    <li>3.2. Explain what is Hygiene and Grooming in Hospitality </li>
                                    <li>3.2.1. Explain on Proper Appearance in Hotel and Restaurant Management.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Discussion on Hygiene and Grooming
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>3.2. Discussion on Hygiene and Grooming </li>
                                    <li>3.3. Describe the definition of Catering Service in Hospitality </li>
                                    <li>3.3.1 Describe the Processes in Catering (Menu Consideration, Premises Catering, Quality, Complexities and etc.)</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Describe about Hospitality Customer Service.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>3.4. Explain and Discuss about F&B Production in Hospitality.</li>
                                    <li>3.4.2. Explain the Process and Stages involved in F&B.</li>
                                    <li>3.5. Describe what is Hotel Costing</li>
                                    <li>3.5.1. Describe what is Tariff </li>
                                    <li>3.5.2. Explain the cost and charges may apply in Hotel management.</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe the importance of Front Office
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>3.6. Describe the importance of Front Office.</li>
                                    <li>3.6.1 Explain the Primary Functions of Front Office Department. </li>
                
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Hotel and restaurant management is about how managers improve the profitability of their businesses by ensuring quality control and a pleasant experience for their customers. They work with employees to provide a smoothly functioning system within the hotel or restaurant. Managers must have supervisory, administrative and marketing skills, and must have a thorough understanding of finance management to operate the business effectively.</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn what is Hotel & Restaurant Management</p>
                <p>Students will learn the rule Of Hotel & Restaurant Management</p>
                <p>Students will learn what is Hygiene and Grooming</p>
                <p>Students will learn what is Catering & Food and Beverages Production</p>
                <p>Students will learn about Hotel Costing and the Front Office Department</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>1. Understand what is Hotel & Restaurant Management</p>
                <p>2. Understand the rule Of Hotel & Restaurant Management </p>
                <p>3. Understand what is Hygiene and Grooming</p>
                <p>4. Understand what is Catering & Food and Beverages Production</p>
                <p>5. Understand about Hotel Costing and the Front Office Department</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
