<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Course Details</a></li>
        <li>COURSE AND ACADEMIC INFORMATION</li>
        <li class="active">Human Resources in Hospitality Management</li>
    </ol>
    <h1>(DHM04) Human Resources in Hospitality Management</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel class="description" panel-class="panel-sky" heading="Module Information">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Course:</strong> EXECUTIVE DIPLOMA IN HOSPITALITY MANAGEMENT</p>
                <p><strong>Module Code:</strong> DHM04</p>
                <p><strong>Module:</strong> Human Resources in Hospitality Management</p>
                <p><strong>Year:</strong> 2017</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="1. Instructional Hours">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p><strong>Lecture:</strong> 12</p>
                <p><strong>Project:</strong> 6</p>
                <p><strong>Private Study:</strong> 12</p>
                <p><strong>Total:</strong> 30</p>
                <p><strong>Credit Value:</strong> 2</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Learning Outcomes</th>
                            <th>Assessment criteria</th>
                            <th>Indicative content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                When awarded credit for this unit, a student will:
                            </td>
                            <td data-title="Assessment criteria">
                                Assessment of this learning outcome will require a student to demonstrate that they can:
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                1. Introduction to Human Resources Management in Hospitality
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.0 Introduction to Human Resources Management in Hospitality</li>
                                    <li>4.0.1 Describe What Human Resources Management is.</li>
                                    <li>4.1. Describe the Major Activities in Human Resources Management.</li>
                                    <li>4.2. Explain what is Human Resources Planning
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                2. Discussion on Human Resources Planning
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.2.1. Discussion on Human Resources Planning </li>
                                    <li>4.3. Describe the Objective of HR Planning in Hospitality </li>
                                    <li>4.4. & 4.5. Describe The Major Steps in HR Planning.</li>
                                    <li>4.6. Explain the HR Planning trend in Hotel Industry</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                3. Explain and Discuss about HR Functions of Management
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.6.1. Discussion on HR Planning and Planning Trend Hotel Industry.</li>
                                    <li>4. 7. Explain and Discuss about HR Functions of Management</li>
                                    <li>Describe about Human Resources Policies</li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" data-title="Learning Outcomes">
                                4. Describe about Formulating HR Plans.
                            </td>
                            <td data-title="Assessment criteria">
                                <ul>
                                    <li>4.8 & 4.9. Describe about Formulating HR Plans.</li>
                                    <li>4.10 & 4.11 Describe the Planning Trend in Hospitality.</li>
                                    <li>4.12 Explain on Organizational Behavior </li>
                                    <li>4.12.1 Explain the Executive Behavior in an Organization.</li>
                                    <li>4.13 Discussion on Subject and the conclusion on the syllabus study.
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Indicative content">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="2. Module Synopsis">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The hospitality field generally includes businesses such as restaurants and hotels. These establishments serve the public and frequently employ numerous staff members to efficiently accomplish this task. As an administrator of a hospitality organization's most valuable asset -- its human resource -- the HR department is called on to administer employee-related activities that may be critical to the continued success of the organization. The HR department's role is to support the organization by freeing up management to concentrate on the business of doing business.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="3. Module Objectives">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Students will learn what Human Resource in Hospitality Management is about</p>
                <p>Students will learn the Major Activities of Human Resource Management</p>
                <p>Students will learn how HR Plans and its Objectives, as well as the HR Policies and Functions Of Management.</p>
                <p>Students will learn the Major Step in HR – Planning and linking the organizations strategy to employment planning.</p>
                <p>Students will learn what is environmental scanning and Formulating HR Plans</p>
                <p>Students will learn what is the Human Resources Planning Trend in Hotel Industry and the Organizational Behavior.</p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="4. Learning Outcomes">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>The student will:</p>
                <p>Understand what is Human Resource in Hospitality Management is about</p>
                <p>Understand the Major Activities of Human Resource Management</p>
                <p>Understand how Human Resource Plans and its Objectives, as well as the HR Policies and Functions Of Management.</p>
                <p>Understand the Major Step in HR – Planning and linking the organizations strategy to employment planning.</p>
                <p>Understand what is environmental scanning and Formulating HR Plans</p>
                <p>Understand what is the HR Planning Trend in Hotel Industry and the Organizational Behavior.
                </p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="5. Assessment Components">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>To successfully complete the module, the students must perform the following:</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding-right:50px">Components</th>
                            <th>Weightage</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" data-title="Components">
                                Assignment
                            </td>
                            <td data-title="Weightage">
                                100%
                            </td>
                            <td data-title="Due Date">
                                2 weeks after end of the module
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><i>* The nominal word count for this module is 1,200 words. The suggested range is in between 1000-1500</i></p>
            </panel>
            <panel class="description" panel-class="panel-sky" heading="6. Teaching and Learning Strategies">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <p>Study of this module is by case study, tutorials and independent study.</p>
                <p>Teaching media includes:</p>
                <p>PowerPoint</p>
                <p>Multimedia Resources</p>
                <p>Book References</p>
            </panel>
        </div>
    </div>
</div>
