<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Courses</li>
        <li class="active">Manage Courses</li>
    </ol>

    <h1>Educational Courses</h1>
    <div class="options">
        <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>


<div ng-controller="manageCourses" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

      <panel panel-class="panel-sky" heading="Courses List">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>
                <div class="row">
                  <div class="col-md-6 col-md-offset-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Course Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="course in courses | filter:searchKeyword">
                                
                                <td align="left"><i>{{course.name}}</i></td>
                                <td align="left"><i>{{course.description}}</i></td>


                                <td>
                                  <a href="/#/view-course/{{course.id}}" class="btn btn-success btn-sm">View</a>
                                  <a href="/#/course-edit/{{course.id}}"class="btn btn-sky btn-sm">Edit</a>
                                  <a ng-click="open(course.name)" class="btn btn-brown btn-sm">Delete</a>
                                  <a href="/#/enrolled-student/{{course.id}}" class="btn btn-warning btn-sm">View Enroll Student</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </panel>
        </div>
    </div>
     <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete course? Please remove student enrolled also.  
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Delete</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
   </script>
</div> <!-- container-fluid -->