<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Course</li>
      <li class="active">Add course module</li>
   </ol>
   <h1>Add course module</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="addCourseModule" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Module form">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <form ng-submit="submit(credentials)" ng-controller="addCourseModule" class="form-horizontal">
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong> Unable to save the module data.<br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Module Name</label>
                  <div class="col-md-6">
                     <select name="module_id" class="form-control" ng-model="credentials.module_id" required>
                        <optgroup label="Assign module for the course">
                           <option ng:repeat="item in modules" value="{{item.id}}">{{item.code}} {{item.name}}</option>
                        </optgroup>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-md-offset-7">
                     <button type="submit" class="btn btn-primary">
                     Register new module
                     </button>
                  </div>
               </div>
            </form>
         </panel>
      </div>
   </div>
</div>