<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Students</li>
      <li class="active">Students List</li>
   </ol>
   <h1>Students List</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminBrowseUsers" class="container-fluid" >
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Browse Students">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div class="row">
              <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:100px">Full Name</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng:repeat="(key, student) in students | filter:searchKeyword">
                        <td align="left"><i>{{student.name}}</i></td>
                        <td align="left"><i>{{student.coursename || "Not set"}}</i></td>
                        <td align="left"><i>{{student.status || "Active"}}</i></td>
                        <td>
                           <a href="/#/student-details/{{student.id}}" class="btn btn-primary btn-sm">View & Edit</a>
                           <a href="/#/fee-statement/{{student.id}}" class="btn btn-success btn-sm">Fee Statement</a>
                           <a ng-click="addFriend(student.id)" class="btn btn-green btn-sm">Add to Friend List</a>
                           <a href="/#/student-notifications/{{student.id}}" class="btn btn-warning btn-sm">Notifications</a>

                           <span ng-switch="student.status">
                             <span ng-switch-when="lock">
                               <a ng-click="lock(student.id)" class="btn btn-brown btn-sm">Unlock Account</a>
                             </span>
                             <span ng-switch-default>
                               <a ng-click="lock(student.id)" class="btn btn-brown btn-sm">Lock Account</a>
                             </span>
                           </span>
                           

                           <a ng-click="open(student.id)" class="btn btn-brown btn-sm">Delete</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>
     

     <script type="text/ng-template" id="myModalContent_lock.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to lock/unlock the student?
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Lock/Unlock</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
   </script>

   <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete student?
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Delete</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
   </script>
</div>
<!-- container-fluid -->