<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>lecturers</li>
      <li class="active">lecturers List</li>
   </ol>
   <h1>lecturers List</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminBrowseLecturers" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Browse lecturers">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div class="row">
              <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:100px">Full Name</th>
                        
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng:repeat="(key,lecturer) in credentials.lecturers | filter:searchKeyword">
                        <td align="left"><i>{{lecturer.name}}</i></td>
                        <td>
                           <a href="/#/lecturer-details/{{lecturer.id}}"class="btn btn-primary btn-sm">View</a>
                           <a href="/#/lecturer-edit/{{lecturer.id}}" class="btn btn-success btn-sm">Edit</a>
                           <a ng-click="addFriend(lecturer.id)" class="btn btn-green btn-sm">Add to Friend List</a>
                     
                              <button type="submit" class="btn btn-brown btn-sm" data-toggle="modal" data-target="#deleteModal" ng-click="openDeleteModal(key,lecturer.id,lecturer.name)">Delete</button>
                     
                           <!-- <button ng-click="delete(key, lecturer.id)" class="btn btn-brown btn-sm">Delete</button> -->
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>

   <!-- modal -->
   <div id="deleteModal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Delete Lecturer Confirmation</h4>
         </div>
         <div class="modal-body">
           <p id="modalContent"></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default btn-brown" ng-click="modalDelete()" >Delete</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
       </div>

     </div>
   </div>
   <!-- modal -->

</div>
<!-- container-fluid -->

