<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Modules</li>
      <li class="active">Manage Modules</li>
   </ol>
   <h1>Course Modules</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="manageModules" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Modules List">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <!-- panel content -->
            <div class="row">
               <div class="col-md-6 col-md-offset-6">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                     <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                  </div>
               </div>
            </div>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>Module Code</th>
                        <th style="padding-right:60px">Module Name</th>
                        <th>Lecturer</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng:repeat="module in modules | filter:searchKeyword">
                        <td align="left"><i>{{module.code}}</i></td>
                        <td align="left"><i>{{module.name}}</i></td>
                        <td align="left"><i>{{module.lecturer}}</i></td>
                        <td>
                           <a href="/#/module/edit/{{module.id}}" class="btn btn-sky btn-sm">Edit</a>
                           <!--<a href="/#/module/delete/{{module.id}}" class="btn btn-brown btn-sm">Delete</a>-->
                           <a ng-click="open(module.code)" class="btn btn-brown btn-sm">Delete</a>
                           <!--<a ng-click="lecOpen(module.lecturer)" class="btn btn-brown btn-sm">Remove Lecturers</a>-->
                           
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- panel content -->

         </panel>
      </div>
   </div>
     <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete module?
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Delete</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>

   </script>
 <!--    <script type="text/ng-template" id="myModalContent1.html">
      <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete All lecturers assigned?
      </div>
      <div class="modal-footer">
          <button class="btn btn-brown" ng-click="ok()">Delete</button>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
   </script> -->
</div>
<!-- container-fluid -->