<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>User Groups</li>
        <li class="active">User Groups List</li>
    </ol>

    <h1>User Groups List</h1>
    <div class="options">
        <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
    </div>
</div>

<div ng-controller="browseUserGroups" class="container-fluid" >
    
    <div class="row">
        <div class="col-md-12">

			<panel panel-class="panel-sky" heading="User Groups List">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>
                <div class="row">
                  <div class="col-md-6 col-md-offset-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">User Group Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="(key, group) in credentials.usergroups | filter:searchKeyword">

                                <td align="left"><i>{{group.name}}</i></td>
                                
                                <td>
                                	<a href="/#/view-group-users/{{group.id}}" class="btn btn-primary btn-sm">View Group Users</a>
                                    <a href="/#/add-group-user/{{group.id}}" class="btn btn-success btn-sm">Add User</a>
                                    <a href="/#/edit-group/{{group.id}}" class="btn btn-green btn-sm">Edit Group</a>
                                	<a ng-click="openDel(group.id)" class="btn btn-brown btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </panel>
        </div>
    </div>

    <!-- Modal -->
        <div id="deleteModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this usergroup.</p>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="delete()" class="btn btn-sm btn-brown">Delete</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    

</div> <!-- container-fluid -->