<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>User Groups</li>
      <li class="active">Edit User Group</li>
   </ol>
   <h1>Edit User Group</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="editGroup" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="User Groups">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <form ng-controller="editGroup" ng-submit="submit(credentials)" class="form-horizontal">
               <fieldset title="Step 1">
                  <div id="alert" class="alert alert-danger hide">
                     <strong>Error</strong> Unable to change user group name.<br><br>
                     <ul>
                        <li id="error"></li>
                     </ul>
                  </div>
                  <input type="hidden" name="_token" ng-model="credentials.token" value="{{ type.csrf }}">
                  <legend>Edit Group Form</legend>
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Group Name</label>
                     <div class="col-md-6 col-offset-8">
                        <input type="text" ng-model="credentials.groupName.name" class="form-control">
                     </div>
                  </div>
               </fieldset>
               <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-6 col-offset-8">
                     <input type="submit" class="finish btn-success btn" value="Change group name" />
                     <a href="/#/admin-browse-groups" class="btn btn-primary">Back to list</a>
                  </div>
               </div>
            </form>
         </panel>
      </div>
   </div>
</div>
<!-- container-fluid -->