<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Lecturers</li>
      <li class="active">Lecturer Edit</li>
   </ol>
   <h1>Lecturer Edit</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="editLecturer" class="container-fluid">
	<div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Personal Information">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <form ng-submit="submit(credentials)">

               <input type="hidden" name="_token" ng-model="credentials.token" value="{{ type.csrf }}">
               <input type="hidden" name="id" ng-model="credentials.id">
               <div class="row">
                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Name</label>
                        <div class="col-md-6">
                           <input id="fieldname" class="form-control" name="name" minlength="4" type="text" ng-model="credentials.name" required>
                        </div>
                  </div>
               </div>
               <br>

               <div class="row">
                 <div class="form-group">
                     <label for="emailField" class="col-md-3 control-label">Email</label>
                        <div class="col-md-6">
                           <input id="emailField" class="form-control" name="email" minlength="4" type="email" ng-model="credentials.email" required>
                        </div>
                  </div> 
               </div>
               <br>

               <div class="row">
                  <div class="form-group">
                     <label for="passwordField" class="col-md-3 control-label">Password</label>
                        <div class="col-md-6">
                           <input id="passwordField" class="form-control" name="password" minlength="6" type="password" ng-model="credentials.password" required>
                        </div>
                  </div>
               </div>
               <br>

               <div class="row">
                 <div class="form-group">
                     <label for="confPassField" class="col-md-3 control-label">Confirm Password</label>
                        <div class="col-md-6">
                           <input id="confPassField" class="form-control" name="password_confirmation" minlength="6" type="password" ng-model="credentials.password_confirmation" required>
                        </div>
                  </div> 
               </div>
               <br>

               <div class="row">
                 <div class="form-group">
                     <label for="addressField" class="col-md-3 control-label">Address</label>
                        <div class="col-md-6">
                           <textarea id="addressField" class="form-control" row="10" name="address" minlength="4" type="text" ng-model="credentials.address"></textarea>
                        </div>
                  </div> 
               </div>
               <br>

               <div class="row">
                 <div class="form-group">
                     <label for="phoneField" class="col-md-3 control-label">Phone</label>
                        <div class="col-md-6">
                           <input id="phoneField" class="form-control" name="phone" minlength="4" type="text" ng-model="credentials.phone" >
                        </div>
                  </div> 
               </div>
               <br>

               <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                     <button type="submit" class="btn btn-success">save</button>
                  </div>
               </div>
            </form>
         </panel>
      </div>
   </div>
</div>