<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Modules</li>
      <li class="active">Module Edition</li>
   </ol>
   <h1>Module Edition</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminEditModule" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Module edition form">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
               <!-- stacked navigation -->
               <div class="row">
                  <div class="col-md-3">
                     <ul class="nav nav-tabs nav-stacked">
                       <li role="presentation" class="active"><a data-toggle="tab" href="#module-information">Module Information</a></li>
                       <li role="presentation"><a data-toggle="tab" href="#instructional-hours">Instructional Hours</a></li>
                       <li role="presentation"><a data-toggle="tab" href="#module-synopsis">Module Synopsis and Objectives</a></li>
                       <!-- <li role="presentation"><a data-toggle="tab" href="#module-objective">Module Objective</a></li> -->
                       <li role="presentation"><a data-toggle="tab" href="#learning-outcome">Learning Outcome</a></li>
                       <li role="presentation"><a data-toggle="tab" href="#assessment-component">Assessment Component</a></li>
                       <li role="presentation"><a data-toggle="tab" href="#teaching-strategies">Teaching Strategies</a></li>
                     </ul>
                  </div>
                  <div class="col-md-9">
                     <div class="tab-content">
                        
                  
                     <div id="module-information" class="tab-pane fade in active">
                        <h3>Module Information</h3>
                        <!-- module information-->
                           <p ng-hide="isValid(lecturers)" class="ng-hide">
                              There are no registered lecturers in a system. <br/>
                              <a id="course-reg" href="#/manage-modules" class="btn btn-primary">Back to module list</a>
                           </p>
                           <form ng-submit="submit(credentials)" class="form-horizontal ng-hide" ng-show="isValid(lecturers)">
                              <div id="alert" class="alert alert-danger hide">
                                 <strong>Error</strong> Unable to save the module data.<br><br>
                                 <ul>
                                    <li id="error"></li>
                                 </ul>
                              </div>
                              <div class="form-group">
                                 <label for="fieldnick" class="col-md-3 control-label">Module Lecturer</label>
                                 <div class="col-md-6">
                                    <select name="lecturer_id" class="form-control" id="course" ng-model="credentials.lecturer_id" required>
                                       <optgroup label="Assign a lecturer for the module">
                                          <option ng:repeat="item in lecturers" value="{{item.id}}">{{item.name}}</option>
                                       </optgroup>
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="fieldnick" class="col-md-3 control-label">Module Semester</label>
                                 <div class="col-md-6">
                                    <select name="semester" class="form-control" ng-model="credentials.semester"required>
                                       <optgroup label="Assign a semester for the student">
                                          <option value="1">Semester 1</option>
                                          <option value="2">Semester 2</option>
                                          <option value="3">Semester 3</option>
                                          <option value="4">Semester 4</option>
                                       </optgroup>
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="fieldname" class="col-md-3 control-label">Module Code</label>
                                 <div class="col-md-6">
                                    <input id="fieldname" class="form-control" name="code" ng-model="credentials.code" minlength="4" type="text" required>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="fieldname" class="col-md-3 control-label">Module Name</label>
                                 <div class="col-md-6">
                                    <input id="fieldname" class="form-control" name="name" ng-model="credentials.name" minlength="4" type="text" required>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="fieldabout" class="col-md-3 control-label">Description</label>
                                 <div class="col-md-6">
                                    <textarea name="description" ng-model="credentials.description" id="fieldabout" class="form-control autosize" rows="2"></textarea>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Module Information
                                    </button>
                                 </div>
                              </div>
                           </form>
                           <!-- module information-->
                     </div>

                      <div id="instructional-hours" class="tab-pane fade in">
                        <h3>Instructional Hours</h3>
                          
                         <form ng-submit="submitInstructional(credentials)" class="form-horizontal">

                           <div class="form-group">
                              <label for="lectureTime" class="col-md-3 control-label">Lecture</label>
                                 <div class="col-md-6">
                                    <input type="number" name="lectureTime" ng-model="credentials.lecturersTime" class="form-control">
                                 </div>
                           </div>

                           <div class="form-group">
                              <label for="projectTime" class="col-md-3 control-label">Project</label>
                                 <div class="col-md-6">
                                    <input type="number" name="projectTime" ng-model="credentials.projectTime" class="form-control">
                                 </div>
                           </div>

                           <div class="form-group">
                              <label for="privateStudyTime" class="col-md-3 control-label">Private Study</label>
                                 <div class="col-md-6">
                                    <input type="number" name="privateStudyTime" ng-model="credentials.privateStudy" class="form-control">
                                 </div>
                           </div>

                           <div class="form-group">
                              <label for="creditValue" class="col-md-3 control-label">Credit Value</label>
                                 <div class="col-md-6">
                                    <input type="number" name="creditValue" ng-model="credentials.creditValue" class="form-control">
                                 </div>
                           </div>

                           <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Instructional Hours
                                    </button>
                                 </div>
                           </div>

                         </form>

                      </div>

                      <div id="module-synopsis" class="tab-pane fade in">
                         <h3>Module Synopsis and Objectives</h3>
                         <form ng-submit="submitSynoObj(credentials)" class="form-horizontal">
                           
                           <div class="form-group">
                              <label for="synopsisValue" class="col-md-3 control-label">Module Synopsis</label>
                                 <div class="col-md-6">
                                    <textarea name="synopsisValue" ng-model="credentials.synopsis" class="form-control"></textarea>
                                 </div>
                           </div>
                           <br>
                           <div class="form-group">
                              <label for="objectiveValue" class="col-md-3 control-label">Module Objectives</label>
                                 <div class="col-md-6">
                                    <textarea name="objectiveValue" ng-model="credentials.objectives" class="form-control"></textarea>
                                 </div>
                           </div>

                           <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Synopsis and Objectives
                                    </button>
                                 </div>
                           </div>

                        </form>
                      </div>
                      
                      <div id="learning-outcome" class="tab-pane fade in">
                         <h3>Learning Outcome</h3>
                         <form ng-submit="submitOutcome(credentials)" class="form-horizontal">
                              <div class="form-group">
                                 <label for="lgOut" class="col-md-3 control-label">Summary Learning Outcome</label>
                                 <div class="col-md-6">
                                    <textarea name="lgOut" class="form-control" ng-model="credentials.outcomes"></textarea>
                                 </div>
                              </div>

                              <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Summary Learning Outcome
                                    </button>
                                 </div>
                              </div>

                           </form>

                           <form ng-submit="submitTableOutcome(credentials)" class="form-horizontal">
                             <div class="form-group">
                                 <label class="col-md-3 control-label">Learning Outcomes</label>
                                 <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="credentials.learningOutcome">
                                 </div>
                              </div>

                              <div class="form-group">
                                 <label class="col-md-3 control-label">Assessment Criteria</label>
                                 <div class="col-md-6">
                                    <textarea class="form-control" ng-model="credentials.assessmentCriteria"></textarea>
                                 </div>
                              </div>

                              <div class="form-group">
                                 <label class="col-md-3 control-label">Indicative Content</label>
                                 <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="credentials.indicativeContent">
                                 </div>
                              </div>

                              <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                        Add New Learning Outcome 
                                    </button>
                                 </div>
                              </div>
                           </form>

                           <table class="table table-responsive">
                            <thead>
                              <tr>
                                <th>Learning Outcomes</th>
                                <th>Assessment Criteria</th>
                                <th>Indicative Content</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng:repeat="(key,outcome) in scope.learningOutcomes">
                                <td>{{outcome.outcome}}</td>
                                <td>{{outcome.assessment}}</td>
                                <td>{{outcome.indicative}}</td>
                                <td><button class="btn btn-brown btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                              </tr>
                            </tbody>
                          </table>

                      </div>

                      <div id="assessment-component" class="tab-pane fade in">
                        <h3>Assessment Component</h3>
                        <form ng-submit="updateAssessment(credentials)" class="form-horizontal">
                           <div class="form-group">
                              <label for="assessment" class="col-md-3 control-label">Component</label>
                              <div class="col-md-6">
                                <input type="text" name="" class="form-control" ng-model="credentials.assessmentComponent">
                              </div>
                           </div>

                           <div class="form-group">
                              <label for="assessment" class="col-md-3 control-label">Weightage</label>
                              <div class="col-md-6">
                                <input type="text" name="" class="form-control" ng-model="credentials.assessmentWeightage">
                              </div>
                           </div>

                           <div class="form-group">
                              <label for="assessment" class="col-md-3 control-label">Due Date</label>
                              <div class="col-md-6">
                                <input type="text" name="" class="form-control" ng-model="credentials.dueDate">
                              </div>
                           </div>

                           <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Assessment Component
                                    </button>
                                 </div>
                           </div>

                        </form>

                        <table class="table table-responsive">
                          <thead>
                            <tr>
                              <th>Component</th>
                              <th>Weightage</th>
                              <th>Due Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng:repeat="(key,assmt) in scope.assessments">
                              <td>{{assmt.component}}</td>
                              <td>{{assmt.weightage}}</td>
                              <td>{{assmmt.due_date}}</td>
                              <td><button class="btn btn-brown btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div id="teaching-strategies" class="tab-pane fade in">
                         <h3>Teaching Strategies</h3>
                         <form ng-submit="submitStrategy(credentials)" class="form-horizontal">
                            <div class="form-group">
                              <label for="teachingStrategies" class="col-md-3 control-label">Teaching Strategies</label>
                                 <div class="col-md-6">
                                    <textarea name="teachingStrategies" class="form-control" ng-model="credentials.teachStrategy"></textarea>
                                 </div>
                              </div>

                              <div class="form-group">
                                 <div class="col-md-6 col-md-offset-7">
                                    <button type="submit" class="btn btn-primary">
                                    Update Teaching Strategies
                                    </button>
                                 </div>
                              </div>

                         </form>    
                      </div>

                   </div>
                  </div>
               </div>
              <!-- stacked navigation-->      
         </panel>
      </div>
   </div>
</div>