<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Student Notifications</li>
      <li class="active">Create Pop Up Notifications</li>
   </ol>
   <h1>Create Pop Up Notifications</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminStudentNotifications" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Pop-up Notifications">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <form ng-controller="adminStudentNotifications" ng-submit="submit(credentials)" class="form-horizontal">
               <fieldset title="Step 1">
                  <div id="alert" class="alert alert-danger hide">
                     <strong>Error</strong> Unable to create a group.<br><br>
                     <ul>
                        <li id="error"></li>
                     </ul>
                  </div>
                  <input type="hidden" name="_token" ng-model="credentials.token" value="{{ type.csrf }}">
                  <legend>Pop-up Notifications Creation Form</legend>

                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Student Name</label>
                     <div class="col-md-6">
                        <p class="text ng-binding">{{credentials.name}}</p>
                     </div>
                  </div>

                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Notification Title</label>
                     <div class="col-md-6">
                        <input id="fieldname" class="form-control" name="name" minlength="4" type="text" ng-model="credentials.title" required>
                     </div>
                  </div>
                  <!-- <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Notification Type</label>
                     <div class="col-md-6">
                        <input id="fieldname" class="form-control" name="name" minlength="4" type="text" ng-model="credentials.type" required>
                     </div>
                  </div> -->

                  <div class="form-group">
                     <label for="fieldname" class="col-md-3 control-label">Notification Body</label>
                     <div class="col-md-6">
                        <textarea name="description" ng-model="credentials.body" id="fieldabout" class="form-control autosize" rows="10"></textarea>
                     </div>
                  </div>

               </fieldset>
               <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-6 col-offset-8">
                     <input type="submit" class="finish btn-success btn" value="Create Notification" />
                  </div>
               </div>
            </form>
         </panel>
         <panel panel-class="panel-danger" heading="Notifications List">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <p ng-hide="isValid(credentials.notifications)" class="ng-hide">No personal notifications for this student.</p>
            <div ng-show="isValid(credentials.notifications)" class="table-responsive">

               <table class="table">
                  <thead>
                     <tr>
                        <th>Title</th>
                        <th style="padding-right:100px">Notification Body</th>
                        <th>Is Acknowledged?</th>
                        <th>Created At</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key,item) in credentials.notifications | unique: 'id'">
                        <td align="left"><i>{{item.title}}</i></td>
                        <td align="left"><i>{{item.body}}</i></td>
                        <td align="left"><i>{{item.read ? 'READ' : 'NOT READ YET'}}</i></td>
                        <td align="left"><i>{{item.created_at | asDate}}</i></td>
                        <td align="left">
                           <a ng-click="destroy(item, key)" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>
</div>
<!-- container-fluid -->