<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Modules</li>
      <li class="active">System Modules</li>
   </ol>
   <h1>System Modules</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="systemModule" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Modules list">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div class="row">
              <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" ng-model="searchKeyword">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div id="alert" class="alert alert-danger hide">
               <strong>Error</strong> Unable to fetch modules information.<br><br>
               <ul>
                  <li id="error"></li>
               </ul>
            </div>
            <p ng-hide="isValid(modules)" class="ng-hide">Not Available.</p>
            <div ng-show="isValid(modules)" class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:50px">Module Code</th>
                        <th>Module Title</th>
                        <th>Lecturer</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="s in modules | filter:searchKeyword">
                        <td align="left"><i>{{s.code}}</i></td>
                        <td align="left"><i>{{s.name}}</i></td>
                        <td align="left"><i>{{s.lecturer}}</i></td>
                        <td>
                           <a href="/#/view-lecturer-materials/{{s.id}}" class="btn btn-success btn-sm">Module Materials</a>
                           <a href="/#/upload-lecturer-materials/{{s.id}}" class="btn btn-green btn-sm">Upload Materials</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>
</div>