<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Modules</li>
      <li class="active">Upload Materials</li>
   </ol>
   <h1>Upload Materials</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminUploadMaterials" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="Upload Materials">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div id="alert" class="alert alert-danger hide">
               <strong>Error</strong> Unable to upload the file.<br><br>
               <ul>
                  <li id="error"></li>
               </ul>
            </div>
            <form ng-submit="submit(credentials)" ng-controller="adminUploadMaterials" class="form-horizontal">
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Name</label>
                  <div class="col-md-6">
                     <input id="fieldname" class="form-control" name="name" ng-model="credentials.name" minlength="4" type="text" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">File Category</label>
                  <div class="col-md-6">
                     <select name="category" class="form-control" ng-model="credentials.category" required>
                        <optgroup label="Select file category">
                           <option value="Lectures">Lectures</option>
                           <option value="Assignment Resources">Assignment Resources</option>
                           <option value="Assessments & Grades">Assessments & Grades</option>
                        </optgroup>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">File</label>
                  <div class="col-sm-6">
                     <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file" style="background: #e6e9ee">
                        <span class="fileinput-new">Select a file</span>
                        <span class="fileinput-exists">Change</span>
                        <input fileread="credentials.file" type="file" name="file">
                        </span>
                        <span id="filename" class="fileinput-filename"></span>
                        <a href="#"  class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                     <button type="submit" class="btn btn-primary">
                     Upload new file
                     </button>
                  </div>
               </div>
            </form>
         </panel>
      </div>
   </div>
</div>