<div id="page-heading">
   <ol class="breadcrumb">
      <li><a href="#/">Dashboard</a></li>
      <li>Modules</li>
      <li class="active">View Module Materials</li>
   </ol>
   <h1>View Module Materials</h1>
   <div class="options">
      <div class="btn-toolbar">
         <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
      </div>
   </div>
</div>
<div ng-controller="adminViewMaterials" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <panel panel-class="panel-sky" heading="{{ files[0].name || 'Module Materials' }}">
            <panel-controls>
               <panel-control-collapse></panel-control-collapse>
            </panel-controls>
            <div id="alert" class="alert alert-danger hide">
               <strong>Error</strong> Unable to fetch module information.<br><br>
               <ul>
                  <li id="error"></li>
               </ul>
            </div>
            <p ng-hide="isValid(credentials.files)" class="ng-hide">Not Available.</p>
            <div ng-show="isValid(credentials.files)" class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th style="padding-right:50px">Category</th>
                        <th>Name</th>
                        <th>File</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key, value) in credentials.files">
                        <td align="left"><i>{{value.category}}</i></td>
                        <td align="left"><i>{{value.filename}}</i></td>
                        <td align="left"><i>{{value.file}}</i></td>
                        <td>
                           <a target="_self" href="/files/lecturer/{{value.id}}/{{value.file}}" download="{{value.file}}" class="btn btn-success btn-sm">Download</a>
                           <a ng-click="destroy(key, value.item_id)" class="btn btn-brown btn-sm">Delete</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </panel>
      </div>
   </div>
</div>