<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Consultation Hours</li>
        <li class="active">Book Consultation</li>
    </ol>

    <h1>Book Consultation</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
   
</div>


<div ng-controller="bookConsultation" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

        <panel panel-class="panel-sky" heading="Consultation hours form">

          <panel-controls>
              <panel-control-collapse></panel-control-collapse> 
          </panel-controls>

         	<div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong><br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
        	</div>

        <div ng-controller="bookConsultation">
           
           <form class="form-horizontal">

	      	 	<div class="form-group">
	                <label for="fieldnick" class="col-md-3 control-label">Select Module</label>
	                <div class="col-md-6">
	                  <select id="modules" name="module_id" class="form-control" ng-model="credentials.module_id" ng-change="update(credentials.module_id)" required>
	                      <optgroup label="Select a module">
	                          <option id="{{credentials.modules.indexOf(item)}}" ng:repeat="item in credentials.modules" value="{{item.id}}">{{item.name}}</option>
	                      </optgroup>
	                  </select>
	                </div>
	            </div>

	            <div class="form-group">
	                <label for="fieldnick" class="col-md-3 control-label">Select Type</label>
	                <div class="col-md-6">
	                  <select name="appointment_type" class="form-control" ng-model="credentials.appointment_type" required>
	                      <optgroup label="Select resource for the appointment">
	                          <option value="Skype">Skype</option>
	                          <option value="WhatsApp">WhatsApp</option>
	                      </optgroup>
	                  </select>
	                </div>
	            </div>

	            <div class="form-group">
                      <label for="fieldemail" class="col-md-3 control-label">Reason for appointment</label>
                      <div class="col-md-6">
                         <textarea name="reason" id="fieldabout" class="form-control autosize" placeholder="Please specify the reason for the appointment as well as appointment type details" rows="2" ng-model="credentials.reason"></textarea>
                      </div>
                </div>

                <!-- <input type="submit" class="btn btn-sm btn-success" value="Book Consultation"> -->
            </form>

            <div ng-hide="factory.isSelected" class="ng-hide" ng-bind-html="credentials.note | sanitize"></div>

            <div ng-if="factory.isSelected" class="table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:50px">Module</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in credentials.consultations">

                                <td align="left"><i>{{c.code}}</i></td>
                                <td align="left"><i>{{c.date | asDate }}</i></td>
                                <td align="left"><i>Available</i></td>

                               	<td>
                                    <a ng-click="book(c.id)" class="btn btn-success btn-sm">Book</a>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>


            </panel>

        </div>
    </div>
</div>


