<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Tasks</li>
        <li class="active">My Tasks</li>
    </ol>

    <h1>My Tasks</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="myTasks" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         	<panel panel-class="panel-sky" heading="Tasks List">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

               	<div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to obtain data.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>

	            <p ng-hide="isValid(credentials.tasks)" class="ng-hide">Not Available.</p>
                <div ng-show="isValid(credentials.tasks)" class="table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:50px">Title</th>
                                <th>Task Description</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, c) in credentials.tasks">

                                <td align="left"><i>{{c.title}}</i></td>
                                <td align="left"><i>{{c.description}}</i></td>
                                <td align="left"><i>{{c.duedate | asDate}}</i></td>

                               	<td>
                                    <a href="/files/tasks/{{c.file}}" class="btn btn-primary btn-sm" download="{{c.file}}">Download Task</a>

                                    <a href="/#/submit-task/{{c.id}}" class="btn btn-success btn-sm">Upload Task</a>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </panel>
        </div>
    </div>
</div>
