<div ng-controller="studentSchedule">
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Classes Schedule</li>
    </ol>

    <h1>Classes Schedule</h1>
    <div class="options">
        <div class="btn-toolbar">
            <!-- <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div> -->
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-danger calendar">
            <div class="panel-heading">
                <h2>Classes Schedule</h2>
            </div>
            <div class="panel-body">
               <!--  <div class="alert alert-info">Click on a date to create an event, drag &amp; drop to move events or extend time ranges</div> -->
                <!-- <div data-full-calendar="{ events: demoEvents.demoEvents, editable: false, disableDragging: true, selectable: false}" ng-model="demoEvents.demoEvents"></div> -->
                <div id="fullcalendar"></div>
            </div>
        </div>
    </div>

    </div>
</div> <!-- container-fluid -->



<div id="modalMessage" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p id="message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>
