<div ng-controller="startExam">
   <div id="page-heading">
      <ol class="breadcrumb">
         <li><a href="#/">Dashboard</a></li>
         <li>Tests & Examination</li>
         <li class="active">Start Examination</li>
      </ol>
      <h1>Start Examination - {{credentials.exams.name}}</h1>
      <div class="options">
         <div class="btn-toolbar">
            <div class="btn-group" dropdown>
               <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
               Additional <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
         </div>
      </div>
   </div>
   <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">{{ items.name }} </h3>
      </div>
      <div class="modal-body">
          {{items.text}}
      
          {{ items.marks }}
          
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">OK</button>
      </div>
   </script>
   <div class="container-fluid">
      <div class="row">
         <div ng-show="!valid && contentloaded" class="alert alert-dismissable alert-danger ng-hide">
            <strong>Error!</strong> Examination is not available
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         </div>
         <div class="col-md-12" ng-if="valid">
            <div id="checkup" class="form-horizontal ng-hide">
               <div id="alert" class="alert alert-danger hide">
                  <strong>Error</strong><br><br>
                  <ul>
                     <li id="error"></li>
                  </ul>
               </div>
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Examination Type</label>
                  <div class="col-md-6">
                     <p class="text" ng-bind="credentials.exams.type"></p>
                  </div>
               </div>
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Duration</label>
                  <div class="col-md-6">
                     <p class="text" ng-bind="credentials.examduration"></p>
                  </div>
               </div>
               <div class="form-group">
                  <label for="fieldname" class="col-md-3 control-label">Please Enter Examination Code</label>
                  <div class="col-md-6">
                     <input name="examcode"
                        type="text"
                        required
                        ng-model="credentials.code"
                        class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                     <button ng-click="check()" type="submit" class="btn btn-primary">
                     Start Examination
                     </button>
                  </div>
               </div>
               <div class="alert alert-dismissable alert-danger margin-top">
                  <strong>Note!</strong> Once you press start button, timer will be started
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
               </div>
            </div>
            <panel id="exam" panel-class="panel-sky" heading="MC Examination Questions" ng-show="isMultiple" class="exam ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
                  <span id="timer" ng-bind="credentials.timer"></span>
               </panel-controls>
               <form class="form-horizontal">
                  <div ng:repeat="(key, item) in credentials.questions">
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Question #{{key+1}}:</label>
                        <div class="col-md-6">
                           <p class="text">{{item.question}} <strong>({{item.mark}} Marks)</strong></p>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Options</label>
                        <div class="col-md-6">
                           <label class="btn btn-default">
                           <input type="radio" ng-model="credentials.questions.answer[key]" name="{{item.question}}" value="1">
                           {{item.option_1}} </label>
                           <label class="btn btn-default">
                           <input type="radio" ng-model="credentials.questions.answer[key]" name="{{item.question}}" value="2">
                           {{item.option_2}} </label>
                           <label class="btn btn-default">
                           <input type="radio" ng-model="credentials.questions.answer[key]" name="{{item.question}}" value="3">
                           {{item.option_3}} </label>
                           <label ng-if="item.option_4" class="btn btn-default">
                           <input type="radio" ng-model="credentials.questions.answer[key]" name="{{item.question}}" value="4">
                           {{item.option_4}} </label>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-6 col-md-offset-3">
                        <button ng-click="submit(credentials)" type="submit" class="btn btn-primary">
                        Submit Examination Answers
                        </button>
                     </div>
                  </div>
               </form>
            </panel>
            <panel id="exam" panel-class="panel-sky" heading="Essay Examination Questions" ng-show="isEssay" class="exam ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
                  <span id="timer" ng-bind="credentials.timer"></span>
               </panel-controls>
               <form class="form-horizontal">
                  <div ng:repeat="(key, item) in credentials.questions">
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Question #{{key+1}}:</label>
                        <div class="col-md-6">
                           <p class="text">{{item.question}} <strong>({{item.mark}} Marks)</strong></p>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Answer</label>
                        <div class="col-md-6">
                           <textarea rows="50" ng-model="credentials.questions.answer[key]" class="form-control"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-6 col-md-offset-3">
                        <button ng-click="submit(credentials)" type="submit" class="btn btn-primary">
                        Submit Examination Answers
                        </button>
                     </div>
                  </div>
               </form>
            </panel>
            <panel id="exam" panel-class="panel-sky" heading="Fill up Examination Questions" ng-show="isFillup" class="exam ng-hide">
               <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
                  <span id="timer" ng-bind="credentials.timer"></span>
               </panel-controls>
               <form class="form-horizontal">
                  <div ng:repeat="(key, item) in credentials.questions">
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Question #{{key+1}}:</label>
                        <div class="col-md-6">
                           <p class="text">{{item.question}} <strong>({{item.mark}} Marks)</strong></p>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="fieldname" class="col-md-3 control-label">Answer</label>
                        <div class="col-md-6">
                           <textarea ng-model="credentials.questions.answer[key]" class="form-control"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-6 col-md-offset-3">
                        <button ng-click="submit(credentials)" type="submit" class="btn btn-primary">
                        Submit Examination Answers
                        </button>
                     </div>
                  </div>
               </form>
            </panel>
         </div>
      </div>
   </div>
</div>