<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Web Enrollment System</li>
        <li class="active">Web Results</li>
    </ol>

    <h1>Web Results</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="studentWebEnrollment" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

        <panel panel-class="panel-sky" heading="{{course[0].name}} results">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

                <div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to save the course data.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>

	            <p ng-hide="isValid(results)" class="ng-hide">Not Information available.</p>
                <div ng-show="isValid(results)" class="table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:30px">Module Code</th>
                                <th>Module Title</th>
                                <th>Credit Points</th>
                                <th>Mark</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in results">

                                <td align="left"><i>{{c.code}}</i></td>
                                <td align="left"><i>{{c.name}}</i></td>
                                <td align="left"><i>{{c.credit_points || "Incomplete"}}</i></td>
                                <td align="left"><i>{{c.mark || "Incomplete"}}</i></td>
                                <td align="left"><i>{{c.grade || "Incomplete"}}</i></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>


        </panel>

        </div>
    </div>
</div>