<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Course Fee Details</li>
        <li class="active">Fee Statement</li>
    </ol>

    <h1>Fee Statement</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="studentFeeStatement" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

         <panel panel-class="panel-sky" heading="Fee Details">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

                <div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to fetch the fee statement.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>
				
				<p ng-hide="isValid(feedetails)" class="ng-hide">Not Available.</p>
                <div ng-show="isValid(feedetails)" class="table-responsive">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Item Description</th>
                                <th>Due Date</th>
                                <th>Amount Payable</th>
                                <th>Total Collected</th>
                                <th>Outstanding</th>
                                <th>Fine</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in feedetails">

                                <td align="left"><i>{{item.description}}</i></td>
                                <td align="left"><i>{{item.duedate}}</i></td>
                                <td align="left"><i>{{item.amount_payable}}</i></td>
                                <td align="left"><i>{{item.total_collected}}</i></td>
                                <td align="left"><i>{{item.outstanding}}</i></td>
                                <td align="left"><i>{{item.fine}}</i></td>
                                
                            </tr>
                        </tbody>

                        
                        
                    </table>
                </div>
            </panel>

        </div>
    </div>

</div> <!-- container-fluid -->