<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Modules</li>
        <li class="active">My Units</li>
    </ol>

    <h1>My Units</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>


<div ng-controller="studentMyUnits" class="container-fluid">
    
	<div class="row">

  <div id="alert" class="alert alert-danger hide">
        <strong>Error</strong> Unable to fetch the fee statement.<br><br>
        <ul>
            <li id="error"></li>
        </ul>
  </div>
  
    <tabset panel-tabs="true" heading="Course Modules" panel-class="panel-info">
    
      <tab heading="Home">
        <tab-heading><i class="fa fa-desktop"></i></tab-heading>

        <div class="row">
          <div class="col-md-3" ng-repeat="item in credentials.largeTiles">
            <module-tile data="item"></module-tile>
          </div>
        </div>

      </tab>

    </tabset>
			
	</div>
</div>