<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Tests & Examination</li>
        <li class="active">Tests</li>
    </ol>

    <h1>Tests</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>

<div ng-controller="testModules" class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">

        	<panel panel-class="panel-sky" heading="Available Tests">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>

               	<div id="alert" class="alert alert-danger hide">
	              <strong>Error</strong> Unable to fetch test data.<br><br>
	              <ul>
	                  <li id="error"></li>
	              </ul>
	            </div>
	            
            <p ng-hide="isValid(credentials.tests)" class="ng-hide">Not Available.</p> 
            <div class="panel-body no-padding" ng:repeat="i in credentials.tests">

	            <div heading="Static Header, initially expanded" class="panel panel-default ng-isolate-scope">
              
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span class="ng-binding span-padding-left" >{{i.code}} | </span>
                    <span class="ng-binding span-padding-left" >{{i.modulename}} | </span>
                    <span class="ng-binding span-padding-left" >{{i.test}}</span>
                  </h4>
                  <a href="/#/start-test/{{i.id}}" class="btn btn-success margin-top-5">Start Test</a>
                </div>

              	</div>

          	</div> 



         	 </panel>

	    </div>
	</div>
</div>