<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Modules</li>
        <li class="active">My Units</li>
    </ol>

    <h1>My Units</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</div>


<div ng-controller="viewModule" class="container-fluid">
    
	<div class="row">
		<div class="col-md-12">

			<panel panel-class="panel-sky" heading="{{module[0].name}} Materials">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse> 
                </panel-controls>


                <h2 class="title-material">Lectures</h2>

                <div ng-if="!filteredData[0].length" class="item">No Lectures & Slides</div>
                <div class="item" ng-repeat="item in filteredData[0]">
                    
                    <div class="block">

                        <div class="{{item.ext}}"></div>
                        <div class="files" style="float:left;">
                            <a target="_self" href="/files/{{item.module_id}}/{{item.file}}" download="{{item.file}}">{{item.name}}</a>
                            {{item.size | asHumanReadable}} {{ item.ext | typeDescription}}
                        </div>

                    </div>

                </div>

                <hr/>

                <h2 class="title-material">Case Study</h2>

                <div ng-if="!filteredData[4].length" class="item">No Case Study</div>
                <div class="item" ng-repeat="item in filteredData[4]">
                    
                    <div class="block">

                        <div class="{{item.ext}}"></div>
                        <div class="files" style="float:left;">
                            <a target="_self" href="/files/{{item.module_id}}/{{item.file}}" download="{{item.file}}">{{item.name}}</a>
                            {{item.size | asHumanReadable}} {{ item.ext | typeDescription}}
                        </div>

                    </div>

                </div>

                <hr/>

                <h2 class="title-material">Assignment Resources</h2>

                <div ng-if="!filteredData[1].length" class="item">No Assignment Resources</div>
                <div class="item" ng-repeat="item in filteredData[1]">
                    
                    <div class="block">

                        <div class="{{item.ext}}"></div>
                        <div class="files" style="float:left;">
                            <a target="_self" href="/files/{{item.module_id}}/{{item.file}}" download="{{item.file}}">{{item.name}}</a>
                            {{item.size | asHumanReadable}} {{ item.ext | typeDescription}}
                        </div>

                    </div>

                </div>

                <hr/>

                <h2 class="title-material">Assessments & Grades</h2>

                <div ng-if="!filteredData[2].length" class="item">No Assessments & Grades documents</div>
                <div class="item" ng-repeat="item in filteredData[2]">
                            
                    <div class="block">

                        <div class="{{item.ext}}"></div>
                        <div class="files" style="float:left;">
                            <a target="_self" href="/files/{{item.module_id}}/{{item.file}}" download="{{item.file}}">{{item.name}}</a>
                            {{item.size | asHumanReadable}} {{ item.ext | typeDescription}}
                        </div>

                    </div>

                </div>

                <hr />

                <h2 class="title-material">Video Materials</h2>

                <div ng-if="!filteredData[3].length" class="item">No video materials</div>
                <div class="item" ng-repeat="item in filteredData[3]">
                            
                    <div class="block">

                        <div class="{{item.ext}}"></div>
                        <div class="files" style="float:left;">
                            <a target="_self" href="/files/{{item.module_id}}/{{item.file}}" download="{{item.file}}">{{item.name}}</a>
                            {{item.size | asHumanReadable}} {{ item.ext | typeDescription}}
                        </div>

                    </div>

                </div>
                

            </panel>

        </div>

    </div>

</div>